Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

chore(Button): fix spinner transition error
  packages/styles/src/Button/Button.scss
Due: prettier --write, git add --patch, stylelint --fix

chore(Menu): improve intent styles
  packages/styles/src/List/ListItem.scss
  packages/styles/src/Menu/MenuItem.scss
Due: prettier --write, git add --patch, stylelint --fix

chore(Menu): auto close when item clicking on popup mode
  packages/ui/src/Menu/MenuConfig.tsx
  packages/ui/src/Menu/MenuItem.tsx
  packages/ui/src/Menu/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

Updates
  1.e91a9273.iframe.bundle.js
  2.ad92ce73.iframe.bundle.js
  iframe.html
  main.2863e9be.iframe.bundle.js
  main.88df9211.iframe.bundle.js
  project.json
  runtime~main.64285faa.iframe.bundle.js
  runtime~main.da7b0281.iframe.bundle.js
  vendors~main.c0c9989c.iframe.bundle.js
  vendors~main.c0c9989c.iframe.bundle.js.LICENSE.txt
  vendors~main.c0c9989c.iframe.bundle.js.map
  vendors~main.ca4b5c76.iframe.bundle.js
  vendors~main.ca4b5c76.iframe.bundle.js.map
Due: eslint --fix, prettier --write, git add --patch

chore(Menu): support opening submenu
  packages/ui/src/Menu/MenuConfig.tsx
  packages/ui/src/Menu/MenuItem.tsx
  packages/ui/src/Menu/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: add TODO list
  README.md
Due: prettier --write, git add --patch

docs: finish Palettes docs
  README.md
  stories/Palettes/Colors.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish Baseline
  README.md
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Focusing/index.scss
  packages/styles/src/Focusing/index.ts
  packages/styles/src/index.scss
  postcss.config.js
  stories/Baseline/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Focusing
  README.md
  packages/styles/src/Focusing/index.scss
  packages/styles/src/index.scss
  packages/themes/scss/variables/base.scss
  stories/Tokens/Features.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Prefix
  README.md
  stories/Prefix/stories.mdx
Due: prettier --write, git add --patch

chore: use useIsomorphicLayoutEffect instead of useLayoutEffect
  packages/ui/src/Focusing/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish Theme
  README.md
  stories/Theme/stories.mdx
Due: prettier --write, git add --patch

chore: finish Size
  README.md
  stories/Size/stories.mdx
Due: prettier --write, git add --patch

chore: finish Duration
  README.md
  stories/Duration/stories.mdx
Due: prettier --write, git add --patch

chore: finish Direction
  README.md
  stories/Direction/stories.mdx
Due: prettier --write, git add --patch

chore: finish Portal
  README.md
  stories/Portal/stories.mdx
Due: prettier --write, git add --patch

chore: finish Display
  README.md
Due: prettier --write, git add --patch

chore: finish Transition
  README.md
Due: prettier --write, git add --patch

chore: finish Collapse
  README.md
  packages/styles/src/Collapse/index.scss
  packages/styles/src/index.scss
  packages/ui/src/Collapse/index.tsx
  stories/Collapse/ScrollElement.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Icon
  README.md
  packages/styles/src/Icon/index.scss
Due: prettier --write, git add --patch, stylelint --fix
