Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit stories/assets.d.ts",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

build: uprade storybook
  .editorconfig
  .husky/commit-msg
  .husky/pre-commit
  .storybook/order.js
  .vscode/settings.json
  babel.preset.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, git add --patch

chore: upgrade @lilib/hooks
  packages/ui/package.json
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/Collapse/index.tsx
  packages/ui/src/Compact/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/Duration/index.tsx
  packages/ui/src/Icon/index.tsx
  packages/ui/src/Loader/index.tsx
  packages/ui/src/Portal/index.tsx
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/Switch/index.tsx
  packages/ui/src/Tag/index.tsx
  packages/ui/src/Theme/index.tsx
  packages/ui/src/Transition/index.tsx
  packages/ui/src/_utils/createConfig.tsx
  packages/ui/src/_utils/isCSSPropertyValue.ts
  packages/ui/src/_utils/isNumber.ts
  packages/ui/src/_utils/isPositiveNumber.ts
  packages/ui/src/_utils/isString.ts
  packages/ui/src/_utils/mergeConfig.ts
  yarn.lock
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add color palettes
  .storybook/preview.js
  packages/styles/src/Button/Button.scss
  packages/styles/src/Compact/index.scss
  packages/styles/src/Compact/index.ts
  packages/styles/src/Dot/index.scss
  packages/styles/src/Loader/index.scss
  packages/styles/src/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/index.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Compact/index.tsx
  packages/ui/src/index.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add transition timing functions
  packages/themes/scss/mixins/transition.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: improve theme variables
  packages/styles/src/Badge/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: rename _icons to icons, _utils to utils
  packages/ui/package.json
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/Duration/index.tsx
  packages/ui/src/Icon/index.tsx
  packages/ui/src/Intent/index.ts
  packages/ui/src/Loader/LoaderConfig.ts
  packages/ui/src/Loader/index.tsx
  packages/ui/src/Prefix/index.tsx
  packages/ui/src/Size/index.ts
  packages/ui/src/Spinner/SpinnerConfig.ts
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/Switch/index.tsx
  packages/ui/src/Tag/index.tsx
  packages/ui/src/Transition/index.tsx
  packages/ui/src/_utils/isColorPreset.ts
  packages/ui/src/_utils/types.ts
  packages/ui/src/icons/CheckIcon.tsx
  packages/ui/src/icons/CloseIcon.tsx
  packages/ui/src/icons/LoaderIcon.tsx
  packages/ui/src/icons/MinusIcon.tsx
  packages/ui/src/icons/createIcon.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/createConfig.tsx
  packages/ui/src/utils/isCSSPropertyValue.ts
  packages/ui/src/utils/isPositiveNumber.ts
  packages/ui/src/utils/isRenderableNode.tsx
  packages/ui/src/utils/mergeConfig.ts
  stories/Dot/Animated.tsx
  stories/Dot/ColorPresets.tsx
  stories/Dot/Dot.stories.mdx
  stories/Dot/Dot.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `Intent`
  packages/styles/src/Intent/index.ts
  packages/ui/src/Button/index.tsx
  packages/ui/src/Intent/index.ts
  packages/ui/src/index.ts
  stories/Intent/Basic.tsx
  stories/Intent/Intent.stories.mdx
  stories/Intent/Intent.stories.tsx
  stories/Intent/Nested.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `Root` component
  .storybook/order.js
  .storybook/preview.js
  packages/styles/src/Root/index.scss
  packages/styles/src/Root/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Root/index.tsx
  packages/ui/src/index.ts
  stories/Duration/Duration.stories.mdx
  stories/Prefix/Prefix.stories.mdx
  stories/Root/Root.stories.mdx
  stories/Theme/Theme.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add CSS variable name prefix
  packages/styles/src/Badge/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Collapse/index.scss
  packages/styles/src/Dot/index.scss
  packages/styles/src/Icon/index.scss
  packages/styles/src/Loader/index.scss
  packages/styles/src/Spinner/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/Theme/index.scss
  packages/themes/scss/functions/var.scss
  packages/themes/scss/variables/base.scss
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/Collapse/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/Duration/index.tsx
  packages/ui/src/Icon/index.tsx
  packages/ui/src/Loader/index.tsx
  packages/ui/src/Prefix/index.tsx
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/Switch/index.tsx
  packages/ui/src/Tag/index.tsx
  packages/ui/src/Theme/index.tsx
  packages/ui/src/Transition/index.tsx
  stories/Prefix/Prefix.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add `children` prop definition for `Intent`
  packages/ui/src/Intent/index.ts
  packages/ui/src/utils/createConfig.tsx
  stories/Intent/Intent.stories.mdx
  stories/Intent/Nested.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish `Theme` component
  .storybook/preview.js
  packages/styles/src/Theme/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Theme/index.tsx
  stories/Prefix/Prefix.stories.mdx
  stories/Theme/Nested.tsx
  stories/Theme/Scoped.tsx
  stories/Theme/SyncWithSystem.tsx
  stories/Theme/Theme.stories.mdx
  stories/Theme/Theme.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish `Size` component
  packages/ui/src/Size/index.ts
  stories/Size/Basic.tsx
  stories/Size/Nested.tsx
  stories/Size/Size.stories.mdx
  stories/Size/Size.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish `Duration` component
  packages/ui/src/Duration/index.tsx
  stories/Duration/Duration.stories.mdx
  stories/Duration/Duration.stories.tsx
  stories/Duration/Nested.tsx
  stories/Duration/Scoped.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `Direction` component
  .storybook/manager.js
  .storybook/preview.css
  .storybook/preview.js
  packages/styles/src/Direction/index.ts
  packages/ui/src/Direction/index.tsx
  packages/ui/src/index.ts
  stories/Direction/Direction.stories.mdx
  stories/Direction/Direction.stories.tsx
  stories/Direction/Nested.tsx
  stories/Direction/Scoped.tsx
  stories/Duration/Duration.stories.mdx
  stories/Intent/Intent.stories.mdx
  stories/Prefix/Prefix.stories.mdx
  stories/Size/Size.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `Baseline` component
  .storybook/preview.css
  .storybook/preview.js
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Baseline/index.ts
  packages/styles/src/Baseline/normalize.css
  packages/styles/src/index.scss
  packages/ui/src/Baseline/index.tsx
  packages/ui/src/index.ts
  stories/Baseline/Baseline.stories.mdx
  stories/Baseline/Baseline.stories.ts
  stories/Baseline/Headings.tsx
  stories/Baseline/HorizontalRule.tsx
  stories/Baseline/Paragraph.tsx
  stories/Root/Root.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

Updates
  0.1d07899b.iframe.bundle.js
  0.1d07899b.iframe.bundle.js.LICENSE.txt
  0.1d07899b.iframe.bundle.js.map
  0.f93c8c5764056a64efb8.manager.bundle.js
  0.f93c8c5764056a64efb8.manager.bundle.js.LICENSE.txt
  1.39a1bc4d.iframe.bundle.js
  1.e8ad9b4ca49ce0f1988c.manager.bundle.js
  2.a88de5ba.iframe.bundle.js
  5.69d7d344ded02dab6221.manager.bundle.js
  5.69d7d344ded02dab6221.manager.bundle.js.LICENSE.txt
  6.9ea9d996.iframe.bundle.js
  6.9ea9d996.iframe.bundle.js.LICENSE.txt
  6.9ea9d996.iframe.bundle.js.map
  6.ce9fb6cf73ca18d574ee.manager.bundle.js
  7.d025ccbc.iframe.bundle.js
  7.e77767c0a643f655e28a.manager.bundle.js
  8.0a1d6f72d582eee6e8df.manager.bundle.js
  8.0a1d6f72d582eee6e8df.manager.bundle.js.LICENSE.txt
  8.ea21f4b5.iframe.bundle.js
  9.1df11058.iframe.bundle.js
  9.1df11058.iframe.bundle.js.LICENSE.txt
  9.1df11058.iframe.bundle.js.map
  9.7f287ed8ceb8dba51e21.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.24500767.iframe.bundle.js
  main.99f73638afc4b6110a4c.manager.bundle.js
  project.json
  runtime~main.6ca61dc09c9028cc6870.manager.bundle.js
  runtime~main.da7b0281.iframe.bundle.js
  static/media/Star.e7687937.png
  vendors~main.2de21c9cea43e1ec598e.manager.bundle.js
  vendors~main.2de21c9cea43e1ec598e.manager.bundle.js.LICENSE.txt
  vendors~main.3e523739.iframe.bundle.js
  vendors~main.3e523739.iframe.bundle.js.LICENSE.txt
  vendors~main.3e523739.iframe.bundle.js.map
Due: eslint --fix, prettier --write, git add --patch

chore: move normalize.css into baseline own style file
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Baseline/normalize.css
  packages/themes/scss/variables/base.scss
  stories/Baseline/Baseline.stories.mdx
  stories/Baseline/Baseline.stories.ts
  stories/Baseline/Paragraph.tsx
  stories/Baseline/Paragraphs.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Baseline): add some reset styles
  packages/styles/src/Baseline/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  stories/Baseline/Baseline.stories.mdx
  stories/Baseline/Baseline.stories.ts
  stories/Baseline/Blockquote.tsx
  stories/Baseline/InlineElements.tsx
  stories/Baseline/Lists.tsx
  stories/Baseline/PreformattedText.tsx
  stories/Baseline/Table.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish `Baseline` component
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/themes/scss/variables/dark.scss
  stories/Baseline/Addresses.tsx
  stories/Baseline/Baseline.stories.mdx
  stories/Baseline/Baseline.stories.ts
  stories/Baseline/DescriptionList.tsx
  stories/Baseline/Forms.tsx
  stories/Baseline/PreformattedText.tsx
  stories/Baseline/Summary.tsx
  stories/Baseline/Table.tsx
  stories/Prefix/Prefix.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Portal): fix SSR issue
  packages/ui/src/Portal/index.tsx
  stories/Portal/Portal.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve `Transition` component
  packages/ui/src/Transition/index.tsx
  stories/Transition/Transition.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch
