Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

docs: improve Prefix component docs
  stories/Prefix/stories.mdx
Due: prettier --write, git add --patch

docs: improve Theme docs
  stories/Theme/stories.mdx
Due: prettier --write, git add --patch

docs: improve Size docs
  stories/Size/stories.mdx
Due: prettier --write, git add --patch

docs: improve Duration docs
  stories/Duration/stories.mdx
Due: prettier --write, git add --patch

docs: improve Direction docs
  stories/Direction/stories.mdx
Due: prettier --write, git add --patch

fix(Portal): fix TS error
  packages/ui/src/Portal/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Display component
  .lintstagedrc
  packages/ui/src/Display/index.tsx
  stories/Display/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Trigger component
  packages/ui/src/Trigger/TriggerAnchor.tsx
  packages/ui/src/Trigger/TriggerLayer.tsx
  packages/ui/src/Trigger/index.tsx
  stories/Trigger/ContextMenu.tsx
  stories/Trigger/PopupLayer.tsx
  stories/Trigger/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Transition component
  packages/ui/src/Transition/index.tsx
  stories/Display/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: improve Collapse component
  stories/Collapse/stories.mdx
Due: prettier --write, git add --patch

chore: improve Text component
  packages/styles/src/Text/index.scss
  packages/ui/src/Text/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: remove Image component
  .lintstagedrc
  .storybook/order.js
  README.md
  packages/styles/src/Image/index.ts
  packages/ui/package.json
  packages/ui/src/Avatar/index.tsx
  packages/ui/src/Image/index.tsx
  packages/ui/src/index.ts
  stories/Avatar/stories.mdx
  stories/Image/Basic.tsx
  stories/Image/Fallback.tsx
  stories/Image/LazyLoad.tsx
  stories/Image/Placeholder.tsx
  stories/Image/stories.mdx
  stories/Image/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve
  packages/ui/src/Baseline/index.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Focusing/index.tsx
  packages/ui/src/Root/index.tsx
  packages/ui/src/Spinner/index.tsx
  stories/Direction/stories.mdx
  stories/Duration/stories.mdx
  stories/Focusing/stories.mdx
  stories/Prefix/stories.mdx
  stories/Size/stories.mdx
  stories/Spinner/Basic.tsx
  stories/Spinner/Config.tsx
  stories/Spinner/Contented.tsx
  stories/Spinner/CustomIcon.tsx
  stories/Spinner/Delay.tsx
  stories/Spinner/stories.mdx
  stories/Tag/Rounded.tsx
  stories/Tag/WithIcons.tsx
  stories/Theme/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Button component
  .storybook/preview.scss
  packages/styles/src/Alert/index.scss
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Card/index.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/List/List.scss
  packages/styles/src/Menu/MenuItem.scss
  packages/styles/src/Modal/index.scss
  packages/styles/src/Popup/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/index.tsx
  stories/Button/ButtonIcons.tsx
  stories/Button/FluidButtons.tsx
  stories/Button/IconOnlyButtonGroup.tsx
  stories/Button/LoadingButtons.tsx
  stories/Button/RoundedButtons.tsx
  stories/Button/stories.mdx
  stories/Tag/CustomClearIcon.tsx
  stories/Tokens/BorderRadii.tsx
  stories/Tokens/BoxShadows.tsx
  stories/Tooltip/ButtonContent.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Button component
  packages/styles/src/Button/Button.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  stories/Tokens/FontWeights.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve flex
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Card/index.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Description/index.scss
  packages/styles/src/Divider/index.scss
  packages/styles/src/Dot/index.scss
  packages/styles/src/Icon/index.scss
  packages/styles/src/List/ListItem.scss
  packages/styles/src/Loader/index.scss
  packages/styles/src/Radio/index.scss
  packages/styles/src/Spinner/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/ui/src/Flexbox/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Divider component
  packages/ui/src/Divider/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Tag component
  packages/styles/src/Button/ButtonGroup.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Radio/index.scss
  packages/styles/src/Tag/index.scss
  packages/ui/src/Tag/index.tsx
  stories/Tag/AsLink.tsx
  stories/Tag/ClearLoading.tsx
  stories/Tag/CustomClearIcon.tsx
  stories/Tag/Hollow.tsx
  stories/Tag/Rounded.tsx
  stories/Tag/WithAvatars.tsx
  stories/Tag/WithIcons.tsx
  stories/Tag/stories.mdx
  stories/Tag/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Avatar component
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Avatar/AvatarGroup.scss
  packages/ui/src/Alert/index.tsx
  packages/ui/src/Avatar/index.tsx
  packages/ui/src/Confirm/index.tsx
  packages/ui/src/Menu/MenuItem.tsx
  packages/ui/src/Menu/index.tsx
  packages/ui/src/Tag/index.tsx
  stories/Avatar/AsLink.tsx
  stories/Avatar/AvatarGroup.tsx
  stories/Avatar/CustomColor.tsx
  stories/Avatar/CustomSize.tsx
  stories/Avatar/stories.mdx
  stories/Avatar/stories.tsx
  stories/Button/LinkButton.tsx
  stories/Card/AsLink.tsx
  stories/Confirm/Custom.tsx
  stories/List/OrderedList.tsx
  stories/Tag/AsLink.tsx
  stories/Text/AsLink.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Badge component
  .storybook/preview.scss
  packages/styles/src/Badge/index.scss
  packages/ui/src/Badge/index.tsx
  stories/Badge/MaxCount.tsx
  stories/Badge/SetOffset.tsx
  stories/Badge/stories.mdx
  stories/Badge/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: export types from ButtonConfig
  packages/ui/src/Button/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Radio component
  packages/ui/src/Radio/RadioConfig.ts
  packages/ui/src/Radio/RadioGroup.tsx
  packages/ui/src/Radio/index.tsx
  stories/Radio/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Checkbox component
  packages/styles/src/Checkbox/index.scss
  packages/ui/src/Checkbox/index.tsx
  stories/Checkbox/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Switch component
  packages/styles/src/Switch/index.scss
  packages/ui/src/Switch/index.tsx
  stories/Switch/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Description component
  packages/styles/src/Description/index.scss
  packages/ui/src/Alert/index.tsx
  packages/ui/src/Description/index.tsx
  stories/Description/WithIcon.tsx
  stories/Description/WithIcons.tsx
  stories/Description/WithMark.tsx
  stories/Description/stories.mdx
  stories/Description/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Tag component
  packages/styles/src/Tag/index.scss
  packages/ui/src/Tag/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Popper component
  .eslintrc
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  stories/Popper/ArrowedPopper.tsx
  stories/Popper/BasicPopper.tsx
  stories/Popper/CloseEvents.tsx
  stories/Popper/ControlledOpen.tsx
  stories/Popper/HoverDelay.tsx
  stories/Popper/HoverMove.tsx
  stories/Popper/InlineTrigger.tsx
  stories/Popper/NestedPopper.tsx
  stories/Popper/Placements.tsx
  stories/Popper/TextTrigger.tsx
  stories/Popper/TriggerDelay.tsx
  stories/Popper/TriggerEvents.tsx
  stories/Popper/stories.mdx
  stories/Popper/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: fix typo
  stories/Popper/stories.mdx
Due: prettier --write, git add --patch

chore: improve Popup component
  packages/styles/src/Popup/index.scss
  packages/ui/src/Popup/index.tsx
  stories/Popup/CloseEvents.tsx
  stories/Popup/DisableAnimation.tsx
  stories/Popup/HoverDelay.tsx
  stories/Popup/HoverMove.tsx
  stories/Popup/InlineTrigger.tsx
  stories/Popup/NestedPopup.tsx
  stories/Popup/TextTrigger.tsx
  stories/Popup/TriggerDelay.tsx
  stories/Popup/stories.mdx
  stories/Popup/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Tooltip component
  packages/styles/src/Tooltip/index.scss
  packages/ui/src/Tooltip/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: change Popup padding
  packages/styles/src/Popup/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: change Popup arrow size
  packages/styles/src/Popup/index.scss
  packages/styles/src/Tooltip/index.scss
  packages/ui/src/Popup/index.tsx
  packages/ui/src/Tooltip/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Confirm component
  packages/ui/src/Confirm/index.tsx
  packages/ui/src/icons/InfoFilledIcon.tsx
  packages/ui/src/icons/InfoIcon.tsx
  stories/Confirm/Basic.tsx
  stories/Confirm/Confirming.tsx
  stories/Confirm/Custom.tsx
  stories/Confirm/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: remove Text hoverable underline
  packages/styles/src/Text/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: fix Confirm icon prop error
  packages/ui/src/Confirm/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add blur tokens
  packages/styles/src/Backdrop/index.scss
  packages/styles/src/Loader/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  stories/Tokens/Blurs.tsx
  stories/Tokens/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Alert component
  packages/styles/src/Alert/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Description/index.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  packages/ui/src/Alert/index.tsx
  packages/ui/src/Confirm/index.tsx
  packages/ui/src/icons/FilledCheckIcon.tsx
  packages/ui/src/icons/FilledCloseIcon.tsx
  packages/ui/src/icons/FilledExclamationIcon.tsx
  packages/ui/src/icons/FilledInfoIcon.tsx
  stories/Alert/CustomIcon.tsx
  stories/Alert/Description.tsx
  stories/Alert/Intents.tsx
  stories/Alert/stories.mdx
  stories/Tokens/Blurs.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Card component
  packages/styles/src/Alert/index.scss
  packages/styles/src/Card/index.scss
  packages/styles/src/Text/index.scss
  packages/ui/src/Card/index.tsx
  stories/Card/AsLink.tsx
  stories/Card/Basic.tsx
  stories/Card/Complex.tsx
  stories/Card/stories.mdx
  stories/Text/AsLink.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Backdrop component
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/utils/useSuppressBodyScrollbar.ts
  stories/Backdrop/Animeless.tsx
  stories/Backdrop/CustomCloseButton.tsx
  stories/Backdrop/stories.mdx
  stories/Backdrop/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Modal component
  packages/styles/src/Card/index.scss
  packages/styles/src/Modal/index.scss
  packages/ui/src/Card/index.tsx
  packages/ui/src/Confirm/index.tsx
  packages/ui/src/Modal/index.tsx
  stories/Backdrop/stories.mdx
  stories/Card/Complex.tsx
  stories/Card/stories.mdx
  stories/Modal/BasicModal.tsx
  stories/Modal/Blurred.tsx
  stories/Modal/BlurredBackdrop.tsx
  stories/Modal/CenteredModal.tsx
  stories/Modal/Confirming.tsx
  stories/Modal/CustomActions.tsx
  stories/Modal/DeleteDialog.tsx
  stories/Modal/Draggable.tsx
  stories/Modal/LongContent.tsx
  stories/Modal/ModalSizes.tsx
  stories/Modal/Nested.tsx
  stories/Modal/NestedOverlay.tsx
  stories/Modal/ProfileCard.tsx
  stories/Modal/TriggerButton.tsx
  stories/Modal/TriggerDelay.tsx
  stories/Modal/stories.mdx
  stories/Modal/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix
