Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Icon
  README.md
  packages/styles/src/Icon/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: finish Text
  README.md
  packages/styles/src/Text/index.scss
  packages/ui/src/Text/index.tsx
  stories/Text/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Text): `intent` has higher priority than `color`
  packages/styles/src/Text/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: finish Image
  README.md
Due: prettier --write, git add --patch

chore: finish Spinner
  README.md
  packages/styles/src/Spinner/index.scss
  packages/ui/src/Spinner/index.tsx
  stories/Spinner/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Collapse): change transition duration to `base`
  packages/styles/src/Collapse/index.scss
  packages/ui/src/Collapse/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Loader
  README.md
  packages/styles/src/Loader/index.scss
  packages/ui/src/Loader/index.tsx
  stories/Loader/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve storybook preview styles
  .storybook/preview.scss
  .storybook/themes.js
Due: eslint --fix, prettier --write, git add --patch, stylelint --fix

chore: finish Button
  README.md
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/ui/package.json
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  stories/Button/AsLink.tsx
  stories/Button/Colors.tsx
  stories/Button/Fluid.tsx
  stories/Button/Hollow.tsx
  stories/Button/Loading.tsx
  stories/Button/Round.tsx
  stories/Button/Solid.tsx
  stories/Button/Truncated.tsx
  stories/Button/WithIcons.tsx
  stories/Button/stories.mdx
  stories/Button/stories.tsx
  stories/Tokens/MotionFunctions.tsx
  yarn.lock
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Divider
  README.md
  packages/styles/src/Divider/index.scss
  packages/ui/src/Divider/index.tsx
  stories/Divider/Basic.tsx
  stories/Divider/Inline.tsx
  stories/Divider/Vertical.tsx
  stories/Divider/stories.mdx
  stories/Divider/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Flexbox
  README.md
  packages/ui/src/Flexbox/index.tsx
  stories/Flexbox/Fluid.tsx
  stories/Flexbox/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish Dot component
  README.md
  packages/styles/src/Dot/index.scss
  packages/ui/src/Dot/index.tsx
  stories/Dot/Animated.tsx
  stories/Dot/Basic.tsx
  stories/Dot/CustomColor.tsx
  stories/Dot/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve design tokens
  packages/styles/src/Button/Button.scss
  packages/themes/scss/functions/var.scss
  packages/themes/scss/mixins/feedback.scss
  packages/themes/scss/mixins/index.scss
  packages/themes/scss/mixins/transition.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark-tokens.scss
  packages/themes/scss/variables/light-tokens.scss
  stories/Tokens/Features.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: change some scss variable names
  .storybook/preview.scss
  packages/styles/src/Alert/index.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Card/index.scss
  packages/styles/src/List/ListItem.scss
  packages/styles/src/Menu/MenuItem.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark-tokens.scss
  packages/themes/scss/variables/light-tokens.scss
  packages/themes/scss/variables/properties.scss
  stories/Tokens/Alphas.tsx
  stories/Tokens/FontFamilies.tsx
  stories/Tokens/Lists.tsx
  stories/components/Monospace.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: update vscode settings
  .vscode/settings.json
Due: prettier --write, git add --patch

chore: update husky pre-commit script
  .husky/pre-commit
Due: none

chore: add .nvmrc
  .nvmrc
Due: none

chore: reorganize style variables
  .prettierignore
  .storybook/main.js
  .storybook/preview.scss
  .stylelintignore
  README.md
  packages/styles/src/Alert/index.scss
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Card/index.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Menu/MenuItem.scss
  packages/styles/src/Modal/index.scss
  packages/styles/src/Popup/index.scss
  packages/styles/src/Radio/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/Tooltip/index.scss
  packages/themes/index.scss
  packages/themes/scss/funcs/index.scss
  packages/themes/scss/funcs/light-color.scss
  packages/themes/scss/funcs/merge-maps.scss
  packages/themes/scss/funcs/shade-color.scss
  packages/themes/scss/funcs/var.scss
  packages/themes/scss/mixins/feedback.scss
  packages/themes/scss/mixins/focus-outline.scss
  packages/themes/scss/mixins/index.scss
  packages/themes/scss/mixins/transition.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/index.scss
  packages/themes/scss/variables/light-palettes.scss
  packages/themes/scss/variables/light-tokens.scss
  packages/themes/scss/vars/index.scss
  packages/themes/scss/vars/palettes.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  packages/ui/src/Prefix/index.tsx
  stories/Tokens/ZIndexes.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

docs: fix docs style issue
  .storybook/main.js
  .storybook/preview.js
Due: eslint --fix, prettier --write, git add --patch

chore: fix react TS issue
  package.json
  yarn.lock
Due: prettier --write, git add --patch

Path conditions:
  tsc-files --noEmit: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  git add --patch: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.scss
