Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Popper): use `limitShift` instead of `hide`
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  stories/Popper/Arrow.tsx
  stories/Popper/Basic.tsx
  stories/Popper/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: delete Space component
  packages/styles/src/Space/index.scss
  packages/styles/src/Space/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Space/index.tsx
  packages/ui/src/index.ts
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Popper): disable limit shift when follow point
  packages/ui/src/Popper/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: improve
  stories/Alert/stories.mdx
  stories/Avatar/stories.mdx
  stories/Badge/stories.mdx
  stories/Button/stories.mdx
  stories/Checkbox/stories.mdx
  stories/Collapse/stories.mdx
  stories/Direction/stories.mdx
  stories/Dot/stories.mdx
  stories/Flexbox/Flexbox.stories.mdx
  stories/Icon/stories.mdx
  stories/Image/stories.mdx
  stories/Popper/stories.mdx
  stories/Popup/stories.mdx
  stories/Portal/stories.mdx
  stories/Prefix/stories.mdx
  stories/Radio/stories.mdx
  stories/Root/stories.mdx
  stories/Size/stories.mdx
  stories/Switch/stories.mdx
  stories/Tag/stories.mdx
  stories/Theme/stories.mdx
  stories/Tooltip/stories.mdx
Due: prettier --write, git add --patch

chore: improve Baseline component
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  stories/Baseline/stories.mdx
  stories/Baseline/stories.tsx
  stories/Prefix/stories.mdx
  stories/Root/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Focusing component
  .storybook/order.js
  .storybook/preview.js
  packages/styles/src/Alert/index.scss
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Focusing/index.ts
  packages/styles/src/Radio/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/ui/src/Baseline/index.tsx
  packages/ui/src/Focusing/index.tsx
  packages/ui/src/Root/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/RenderAfterMount.tsx
  stories/Baseline/stories.mdx
  stories/Focusing/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add reset SCSS mixin
  .storybook/order.js
  packages/styles/src/Alert/index.scss
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/mixins/index.scss
  packages/themes/scss/mixins/reset.scss
  packages/ui/src/Tag/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Info component
  .storybook/order.js
  packages/styles/src/Info/index.scss
  packages/styles/src/Info/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Info/InfoDetail.tsx
  packages/ui/src/Info/InfoTitle.tsx
  packages/ui/src/Info/index.tsx
  packages/ui/src/index.ts
  stories/Info/Basic.tsx
  stories/Info/Indicators.tsx
  stories/Info/Padding.tsx
  stories/Info/stories.mdx
  stories/Info/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: fix TS build issue
  packages/ui/src/utils/createConfig.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Button): add `color` prop
  packages/styles/src/Button/Button.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  stories/Button/Colors.tsx
  stories/Button/stories.mdx
  stories/Button/stories.tsx
  stories/Checkbox/stories.mdx
  stories/Popup/stories.mdx
  stories/Radio/stories.mdx
  stories/Switch/stories.mdx
  stories/Tooltip/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Button): fix color borderless
  packages/styles/src/Button/Button.scss
Due: prettier --write, git add --patch, stylelint --fix

feat: add Text component
  .storybook/order.js
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/Text/index.scss
  packages/styles/src/Text/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Text/index.tsx
  packages/ui/src/index.ts
  stories/Button/stories.mdx
  stories/Icon/stories.mdx
  stories/Image/stories.mdx
  stories/Text/Basic.tsx
  stories/Text/Colors.tsx
  stories/Text/Intents.tsx
  stories/Text/Link.tsx
  stories/Text/stories.mdx
  stories/Text/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Alert): use Button component
  packages/styles/src/Alert/index.scss
  packages/styles/src/Alert/index.ts
  packages/styles/src/Popup/index.scss
  packages/styles/src/Text/index.scss
  packages/styles/src/Tooltip/index.scss
  packages/ui/src/Alert/AlertDescription.tsx
  packages/ui/src/Alert/AlertTitle.tsx
  packages/ui/src/Alert/index.tsx
  stories/Alert/Description.tsx
  stories/Alert/Icon.tsx
  stories/Alert/Info.tsx
  stories/Alert/Intents.tsx
  stories/Alert/Loading.tsx
  stories/Alert/stories.mdx
  stories/Alert/stories.tsx
  stories/Button/Hollow.tsx
  stories/Button/Intents.tsx
  stories/Button/Solid.tsx
  stories/Popup/WithInfo.tsx
  stories/Popup/stories.mdx
  stories/Popup/stories.tsx
  stories/Text/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Tag): add `indicator` prop
  packages/styles/src/Tag/index.scss
  packages/styles/src/Tag/index.ts
  packages/ui/src/Alert/index.tsx
  packages/ui/src/Tag/index.tsx
  stories/Tag/Indicators.tsx
  stories/Tag/Loading.tsx
  stories/Tag/LongTag.tsx
  stories/Tag/Sizes.tsx
  stories/Tag/stories.mdx
  stories/Tag/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Avatar): add `variant` prop
  packages/styles/src/Avatar/Avatar.scss
  packages/ui/src/Avatar/AvatarConfig.ts
  packages/ui/src/Avatar/AvatarGroup.tsx
  packages/ui/src/Avatar/index.tsx
  stories/Avatar/Solid.tsx
  stories/Avatar/stories.mdx
  stories/Avatar/stories.tsx
  stories/Tag/Indicators.tsx
  stories/Tag/Round.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve scss reset mixin
  packages/styles/src/Text/index.scss
  packages/themes/scss/mixins/reset.scss
  stories/Alert/Intents.tsx
  stories/Tag/Indicators.tsx
  stories/Tag/Round.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

Updates
  iframe.html
  main.7363dddd.iframe.bundle.js
  main.ad30f65e.iframe.bundle.js
  project.json
  static/media/Star.e7687937.png
  static/media/star.de732d66.png
  vendors~main.0948a44a.iframe.bundle.js
  vendors~main.0948a44a.iframe.bundle.js.map
  vendors~main.ca4b5c76.iframe.bundle.js
  vendors~main.ca4b5c76.iframe.bundle.js.LICENSE.txt
  vendors~main.ca4b5c76.iframe.bundle.js.map
Due: eslint --fix, prettier --write, git add --patch

feat: add Confirm component
  packages/styles/src/Confirm/index.scss
  packages/styles/src/Confirm/index.ts
  packages/styles/src/Tooltip/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Confirm/index.tsx
  packages/ui/src/icons/InfoIcon.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/isPromise.ts
  stories/Confirm/Basic.tsx
  stories/Confirm/Confirming.tsx
  stories/Confirm/Custom.tsx
  stories/Confirm/stories.mdx
  stories/Confirm/stories.tsx
  stories/Tooltip/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

Updates
  iframe.html
  main.7363dddd.iframe.bundle.js
  main.88df9211.iframe.bundle.js
  project.json
Due: eslint --fix, prettier --write, git add --patch

chore(Confirm): rethrow error when handle onConfirm promise reject
  packages/ui/src/Confirm/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add Portal.Config component
  packages/styles/src/Backdrop/index.scss
  packages/styles/src/Backdrop/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Portal/PortalConfig.ts
  packages/ui/src/Portal/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/RenderAfterMount.tsx
  stories/Alert/stories.mdx
  stories/Popper/Config.tsx
  stories/Popper/stories.mdx
  stories/Popper/stories.tsx
  stories/Popup/Config.tsx
  stories/Popup/stories.mdx
  stories/Popup/stories.tsx
  stories/Portal/stories.mdx
  stories/Prefix/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

Path conditions:
  tsc-files --noEmit: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  git add --patch: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.scss
