Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Checkbox component
  packages/styles/src/Checkbox/index.scss
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/Switch/index.tsx
  stories/Checkbox/Basic.tsx
  stories/Checkbox/Checkbox.stories.mdx
  stories/Checkbox/Checkbox.stories.tsx
  stories/Checkbox/Disabled.tsx
  stories/Checkbox/Loading.tsx
  stories/Checkbox/Sizes.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Radio component
  packages/styles/src/Radio/index.scss
  packages/styles/src/Radio/index.ts
  packages/ui/src/Radio/RadioConfig.ts
  packages/ui/src/Radio/RadioGroup.tsx
  packages/ui/src/Radio/index.tsx
  packages/ui/src/icons/DotIcon.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Configs
  .storybook/preview.js
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Direction/index.tsx
  packages/ui/src/Duration/index.tsx
  packages/ui/src/Intent/index.ts
  packages/ui/src/Loader/LoaderConfig.ts
  packages/ui/src/Prefix/index.tsx
  packages/ui/src/Radio/RadioConfig.ts
  packages/ui/src/Size/index.ts
  packages/ui/src/Spinner/SpinnerConfig.ts
  packages/ui/src/Theme/index.tsx
  packages/ui/src/utils/createConfig.tsx
  packages/ui/src/utils/isRenderableNode.tsx
  stories/Baseline/Baseline.stories.mdx
  stories/Direction/Direction.stories.mdx
  stories/Duration/Duration.stories.mdx
  stories/Intent/Intent.stories.mdx
  stories/Loader/Loader.stories.mdx
  stories/Prefix/Prefix.stories.mdx
  stories/Root/Root.stories.mdx
  stories/Size/Size.stories.mdx
  stories/Spinner/Spinner.stories.mdx
  stories/Theme/Theme.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve color palette variables
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: improve css variables
  .prettierrc
  .storybook/preview.scss
  packages/styles/src/Badge/index.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: remove Intent component
  .storybook/preview.js
  packages/styles/src/Intent/index.ts
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/Intent/index.ts
  packages/ui/src/Tag/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/types.ts
  stories/Intent/Basic.tsx
  stories/Intent/Intent.stories.mdx
  stories/Intent/Intent.stories.tsx
  stories/Intent/Nested.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: use preset colors
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/styles/src/Dot/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/base.scss
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/Tag/index.tsx
  packages/ui/src/types.ts
  packages/ui/src/utils/constans.ts
  packages/ui/src/utils/isPresetColor.ts
  stories/Button.Group/Button.Group.stories.mdx
  stories/Button/Button.stories.mdx
  stories/Dot/Animated.tsx
  stories/Dot/Dot.stories.mdx
  stories/Dot/Dot.stories.tsx
  stories/Dot/Intents.tsx
  stories/Dot/PresetColors.tsx
  stories/Duration/Duration.stories.mdx
  stories/Tag/Colors.tsx
  stories/Tag/Intents.tsx
  stories/Tag/Solid.tsx
  stories/Tag/Square.tsx
  stories/Tag/Tag.stories.mdx
  stories/Tag/Tag.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve preset color variables
  .prettierignore
  .prettierrc
  .stylelintignore
  packages/styles/src/Tag/index.scss
  packages/styles/src/Theme/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/index.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: add `null` value for Dot's `color` prop
  packages/ui/src/Dot/index.tsx
  packages/ui/src/types.ts
  stories/Dot/Animated.tsx
  stories/Dot/Dot.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Button): use fixed line height
  packages/styles/src/Button/Button.scss
  packages/ui/src/Button/index.tsx
  stories/Tag/Tag.stories.mdx
  stories/Tag/Tag.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: refactor Tag component
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/base.scss
  packages/ui/src/Button/index.tsx
  packages/ui/src/Tag/index.tsx
  stories/Tag/Clearable.tsx
  stories/Tag/Round.tsx
  stories/Tag/Square.tsx
  stories/Tag/Tag.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: refactor Badge component
  packages/styles/src/Badge/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/dark.scss
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Tag/index.tsx
  stories/Badge/Badge.stories.mdx
  stories/Badge/Badge.stories.tsx
  stories/Badge/Basic.tsx
  stories/Badge/Colors.tsx
  stories/Badge/CustomTag.tsx
  stories/Badge/Dotted.tsx
  stories/Badge/Intents.tsx
  stories/Badge/Offset.tsx
  stories/Badge/Outlined.tsx
  stories/Badge/Positions.tsx
  stories/Badge/Sizes.tsx
  stories/Badge/Solid.tsx
  stories/Badge/Standalone.tsx
  stories/Tag/Square.tsx
  stories/Tag/Tag.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Switch component
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  stories/Switch/Borderless.tsx
  stories/Switch/Switch.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Checkbox styles
  packages/styles/src/Checkbox/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: add Radio source code
  packages/ui/src/Radio/RadioConfig.ts
  packages/ui/src/Radio/RadioGroup.tsx
  packages/ui/src/Radio/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Spinner stories
  packages/styles/src/Theme/index.scss
  stories/Spinner/Basic.tsx
  stories/Spinner/Config.tsx
  stories/Spinner/Contained.tsx
  stories/Spinner/CustomIcon.tsx
  stories/Spinner/Delay.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

refactor: rename `position` prop name to `placement`
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  stories/Badge/Badge.stories.mdx
  stories/Badge/Badge.stories.tsx
  stories/Badge/Placements.tsx
  stories/Button.Group/Button.Group.stories.mdx
  stories/Button.Group/Button.Group.stories.tsx
  stories/Button/Button.stories.mdx
  stories/Button/Button.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs(Badge): use string offset
  stories/Badge/Offset.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Popper component
  packages/styles/src/Popper/index.ts
  packages/ui/package.json
  packages/ui/src/Popper/PopperConfig.ts
  packages/ui/src/Popper/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/RenderAfterMount.tsx
  stories/Popper/Arrow.tsx
  stories/Popper/Basic.tsx
  stories/Popper/Events.tsx
  stories/Popper/HoverMove.tsx
  stories/Popper/Inline.tsx
  stories/Popper/Nested.tsx
  stories/Popper/Placements.tsx
  stories/Popper/Popper.stories.mdx
  stories/Popper/Popper.stories.tsx
  stories/Popper/RightClick.tsx
  stories/Popper/VirtualElement.tsx
  yarn.lock
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish Popper component
  packages/styles/src/Image/index.ts
  packages/ui/package.json
  packages/ui/src/Image/index.tsx
  packages/ui/src/Popper/index.tsx
  packages/ui/src/index.ts
  stories/Popper/Arrow.tsx
  stories/Popper/Basic.tsx
  stories/Popper/Events.tsx
  stories/Popper/HoverMove.tsx
  stories/Popper/Inline.tsx
  stories/Popper/Nested.tsx
  stories/Popper/Placements.tsx
  stories/Popper/Popper.stories.mdx
  stories/Popper/Popper.stories.tsx
  stories/Popper/RightClick.tsx
  stories/Popper/TextSelection.tsx
  yarn.lock
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

Path conditions:
  tsc-files --noEmit stories/assets.d.ts: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  git add --patch: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.scss
