Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

chore: fix react TS issue
  package.json
  yarn.lock
Due: prettier --write, git add --patch

docs: improve tokens docs
  stories/Tokens/BoxShadows.tsx
  stories/Tokens/FontFamilies.tsx
  stories/Tokens/FontSizes.tsx
  stories/Tokens/Prefixes.tsx
  stories/Tokens/stories.mdx
  stories/components/Usage.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: finish tokens docs
  .storybook/order.js
  README.md
  stories/Palettes/Scales.tsx
  stories/Palettes/stories.mdx
  stories/Tokens/Colors.tsx
  stories/Tokens/RGBs.tsx
  stories/Tokens/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Root component
  .storybook/preview.js
  README.md
Due: eslint --fix, prettier --write, git add --patch

chore: check Baseline component
  README.md
Due: prettier --write, git add --patch

chore: check Focusing component
  README.md
Due: prettier --write, git add --patch

chore: check Prefix component
  README.md
  stories/Prefix/stories.mdx
Due: prettier --write, git add --patch

chore: check Theme component
  README.md
  packages/ui/src/Theme/index.tsx
  stories/Theme/SyncWithSystem.tsx
  stories/Theme/stories.mdx
  stories/Theme/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Size component
  README.md
Due: prettier --write, git add --patch

chore: check Duration component
  README.md
Due: prettier --write, git add --patch

chore: check Direction component
  README.md
Due: prettier --write, git add --patch

chore: check Icon component
  README.md
Due: prettier --write, git add --patch

chore: check Portal component
  README.md
  packages/ui/src/Portal/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Display component
  README.md
  packages/ui/src/Display/index.tsx
  packages/ui/src/Portal/index.tsx
  packages/ui/src/utils/useCloseEvent.ts
  stories/Display/Basic.tsx
  stories/Display/CloseEvents.tsx
  stories/Display/KeepMounted.tsx
  stories/Display/stories.mdx
  stories/Display/stories.tsx
  stories/Portal/Basic.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Transition component
  README.md
  packages/ui/src/Transition/index.tsx
  stories/Transition/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Collapse component
  README.md
Due: prettier --write, git add --patch

chore: rename Segmenter to Segments
  .storybook/order.js
  README.md
Due: eslint --fix, prettier --write, git add --patch

chore: check Spinner component
  README.md
Due: prettier --write, git add --patch

chore: check Loader component
  README.md
  packages/styles/src/Loader/index.scss
  packages/ui/src/Loader/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: check Text component
  README.md
  packages/ui/src/Text/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Image component
  README.md
  packages/ui/src/Image/index.tsx
  stories/Image/Basic.tsx
  stories/Image/Fallback.tsx
  stories/Image/LazyLoad.tsx
  stories/Image/Placeholder.tsx
  stories/assets.d.ts
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: check Button component
  README.md
  packages/styles/src/Button/Button.scss
  packages/styles/src/Loader/index.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  stories/Button/BasicButton.tsx
  stories/Button/BasicButtonGroup.tsx
  stories/Button/ButtonIcons.tsx
  stories/Button/ButtonIntents.tsx
  stories/Button/ButtonSizes.tsx
  stories/Button/FluidButtonGroup.tsx
  stories/Button/FluidButtons.tsx
  stories/Button/Groups.tsx
  stories/Button/HollowButtons.tsx
  stories/Button/IconOnlyButtonGroup.tsx
  stories/Button/LinkButton.tsx
  stories/Button/LoadingButtons.tsx
  stories/Button/MixedButtonGroup.tsx
  stories/Button/RoundedButtonGroup.tsx
  stories/Button/RoundedButtons.tsx
  stories/Button/SolidButtons.tsx
  stories/Button/TruncatedButton.tsx
  stories/Button/VerticalButtonGroup.tsx
  stories/Button/stories.mdx
  stories/Button/stories.tsx
  stories/Theme/Scoped.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: check Dot component
  README.md
  packages/styles/src/Dot/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: check Divider component
  README.md
  packages/styles/src/Divider/index.scss
  packages/ui/src/Divider/index.tsx
  stories/Divider/Basic.tsx
  stories/Divider/Vertical.tsx
  stories/Divider/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Divider styles
  packages/styles/src/Divider/index.scss
  packages/ui/src/Divider/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: check Flexbox component
  README.md
  packages/ui/src/Flexbox/index.tsx
  packages/ui/src/Radio/RadioGroup.tsx
  stories/Flexbox/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: rename Info to Description
  .storybook/order.js
  README.md
  packages/styles/src/Confirm/index.ts
  packages/styles/src/Description/index.scss
  packages/styles/src/Description/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Confirm/index.tsx
  packages/ui/src/Description/DescriptionDetail.tsx
  packages/ui/src/Description/DescriptionTitle.tsx
  packages/ui/src/Description/index.tsx
  packages/ui/src/Info/index.tsx
  packages/ui/src/index.ts
  stories/Alert/Info.tsx
  stories/Alert/Intents.tsx
  stories/Description/Basic.tsx
  stories/Description/Icons.tsx
  stories/Description/stories.mdx
  stories/Description/stories.tsx
  stories/Info/Icons.tsx
  stories/Popup/WithInfo.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: use remote images
  stories/Description/Icons.tsx
  stories/Image/Basic.tsx
  stories/Image/Fallback.tsx
  stories/Image/LazyLoad.tsx
  stories/Image/Placeholder.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: fix image fallback example url
  stories/Image/Fallback.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: remove Display onClose prop
  stories/Display/stories.mdx
Due: prettier --write, git add --patch

chore: improve Avatar component
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Avatar/AvatarGroup.scss
  packages/ui/src/Avatar/AvatarConfig.ts
  packages/ui/src/Avatar/AvatarGroup.tsx
  packages/ui/src/Avatar/index.tsx
  stories/Avatar/AvatarGroup.tsx
  stories/Avatar/AvatarSizes.tsx
  stories/Avatar/Colors.tsx
  stories/Avatar/CustomColor.tsx
  stories/Avatar/CustomSize.tsx
  stories/Avatar/Groups.tsx
  stories/Avatar/IconContent.tsx
  stories/Avatar/Link.tsx
  stories/Avatar/LinkAvatar.tsx
  stories/Avatar/Round.tsx
  stories/Avatar/RoundedAvatar.tsx
  stories/Avatar/Sizes.tsx
  stories/Avatar/Solid.tsx
  stories/Avatar/TextContents.tsx
  stories/Avatar/stories.mdx
  stories/Avatar/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: refactor Tag component
  README.md
  packages/styles/src/Tag/index.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  packages/ui/src/Tag/index.tsx
  stories/Tag/BasicTag.tsx
  stories/Tag/ClearLoading.tsx
  stories/Tag/ClearableTags.tsx
  stories/Tag/Colors.tsx
  stories/Tag/Hollow.tsx
  stories/Tag/HollowTags.tsx
  stories/Tag/HoverableTags.tsx
  stories/Tag/Icons.tsx
  stories/Tag/LinkTag.tsx
  stories/Tag/Round.tsx
  stories/Tag/RoundedTags.tsx
  stories/Tag/Solid.tsx
  stories/Tag/SolidTags.tsx
  stories/Tag/SquaredTags.tsx
  stories/Tag/TagColors.tsx
  stories/Tag/TagIcons.tsx
  stories/Tag/TagSizes.tsx
  stories/Tag/stories.mdx
  stories/Tag/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix
