Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, git add --patch, stylelint **/*.scss --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint **/*.scss --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

chore: remove react-icons dependency
  packages/ui/package.json
Due: prettier --write, git add --patch

chore: improve Modal and Backdrop styles
  README.md
  packages/styles/src/Backdrop/index.scss
  packages/styles/src/Modal/index.scss
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Modal/index.tsx
Due: eslint --fix, prettier --write, git add --patch, stylelint **/*.scss --fix

chore: improve Modal component
  packages/ui/src/Modal/index.tsx
  stories/Modal/BasicModal.tsx
  stories/Modal/BlurredBackdrop.tsx
  stories/Modal/CenteredModal.tsx
  stories/Modal/CloseEvents.tsx
  stories/Modal/Confirming.tsx
  stories/Modal/ControlledOpen.tsx
  stories/Modal/DeleteDialog.tsx
  stories/Modal/LongContent.tsx
  stories/Modal/ModalSizes.tsx
  stories/Modal/ModalWidths.tsx
  stories/Modal/NestedOverlay.tsx
  stories/Modal/ProfileCard.tsx
  stories/Modal/TriggerButton.tsx
  stories/Modal/TriggerDelay.tsx
  stories/Modal/stories.mdx
  stories/Modal/stories.tsx
Due: eslint --fix, prettier --write, git add --patch

feat: add Drawer component
  README.md
  packages/styles/src/Card/index.scss
  packages/styles/src/Drawer/index.scss
  packages/styles/src/Drawer/index.ts
  packages/styles/src/Modal/index.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/index.scss
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Card/index.tsx
  packages/ui/src/Drawer/index.tsx
  packages/ui/src/Tag/index.tsx
  packages/ui/src/index.ts
  stories/Drawer/BasicDrawer.tsx
  stories/Drawer/BlurredBackdrop.tsx
  stories/Drawer/CloseEvents.tsx
  stories/Drawer/Confirming.tsx
  stories/Drawer/ControlledOpen.tsx
  stories/Drawer/DrawerPlacements.tsx
  stories/Drawer/DrawerSizes.tsx
  stories/Drawer/LongContent.tsx
  stories/Drawer/NestedOverlay.tsx
  stories/Drawer/ProfileDrawer.tsx
  stories/Drawer/TriggerDelay.tsx
  stories/Drawer/stories.mdx
  stories/Drawer/stories.tsx
  stories/Modal/DeleteDialog.tsx
  stories/Modal/DisableAnimation.tsx
  stories/Modal/HideBackdrop.tsx
  stories/Modal/ModalSizes.tsx
  stories/Modal/ModalWidths.tsx
  stories/Modal/stories.mdx
Due: eslint --fix, prettier --write, git add --patch, stylelint **/*.scss --fix

Updates
  1.39a1bc4d.iframe.bundle.js
  2.a88de5ba.iframe.bundle.js
  iframe.html
  main.2863e9be.iframe.bundle.js
  main.4d51bea4.iframe.bundle.js
  project.json
  runtime~main.64285faa.iframe.bundle.js
  runtime~main.da7b0281.iframe.bundle.js
  vendors~main.36160409.iframe.bundle.js
  vendors~main.36160409.iframe.bundle.js.LICENSE.txt
  vendors~main.36160409.iframe.bundle.js.map
  vendors~main.c0c9989c.iframe.bundle.js
  vendors~main.c0c9989c.iframe.bundle.js.map
Due: eslint --fix, prettier --write, git add --patch

feat: add Notice component
  packages/styles/src/Notice/index.scss
  packages/styles/src/Notice/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Notice/index.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, git add --patch, stylelint **/*.scss --fix

chore: add `onDisplayed` prop for Backdrop component
  packages/ui/src/Backdrop/index.tsx
  stories/Backdrop/stories.mdx
Due: eslint --fix, prettier --write, git add --patch

chore(Backdrop): rename `onDisplayed` prop to `onOpen`
  packages/ui/src/Backdrop/index.tsx
  stories/Backdrop/stories.mdx
Due: eslint --fix, prettier --write, git add --patch

chore(Modal): add `onOpened` event
  packages/ui/src/Modal/index.tsx
  stories/Modal/BasicModal.tsx
  stories/Modal/stories.mdx
Due: eslint --fix, prettier --write, git add --patch

chore(Modal): reset confirming state by timer
  packages/ui/src/Modal/index.tsx
Due: eslint --fix, prettier --write, git add --patch

chore(Confirm): reset confiming state by timer
  packages/ui/src/Confirm/index.tsx
Due: eslint --fix, prettier --write, git add --patch

chore: improve Drawer component
  packages/ui/src/Drawer/index.tsx
  stories/Drawer/BasicDrawer.tsx
  stories/Drawer/stories.mdx
  stories/Modal/stories.mdx
Due: eslint --fix, prettier --write, git add --patch

chore: improve Popup component
  packages/ui/src/Popup/index.tsx
  stories/Popup/Basic.tsx
  stories/Popup/stories.mdx
Due: eslint --fix, prettier --write, git add --patch

feat: add Notice component
  .storybook/preview.js
  packages/styles/src/Notice/index.scss
  packages/styles/src/Notice/index.ts
  packages/ui/src/Notice/InternalNotice.tsx
  packages/ui/src/Notice/index.tsx
  stories/Notice/Basic.tsx
  stories/Notice/stories.mdx
  stories/Notice/stories.tsx
Due: eslint --fix, prettier --write, git add --patch, stylelint **/*.scss --fix

chore: remove `openDelay` and `closeDelay` props of Modal component
  packages/ui/src/Modal/index.tsx
  stories/Modal/TriggerDelay.tsx
  stories/Modal/stories.mdx
  stories/Modal/stories.tsx
Due: eslint --fix, prettier --write, git add --patch

chore(Drawer): remove `openDelay` and `closeDelay` props
  packages/ui/src/Drawer/index.tsx
  stories/Drawer/TriggerDelay.tsx
  stories/Drawer/stories.mdx
  stories/Drawer/stories.tsx
Due: eslint --fix, prettier --write, git add --patch

chore(Backdrop): remove `openDelay` and `closeDelay` props
  packages/ui/src/Backdrop/index.tsx
  stories/Backdrop/Delay.tsx
  stories/Backdrop/stories.mdx
  stories/Backdrop/stories.tsx
Due: eslint --fix, prettier --write, git add --patch

chore(Popup): remove `openDelay` and `closeDelay` props
  packages/ui/src/Popup/index.tsx
  stories/Popup/TriggerDelay.tsx
  stories/Popup/stories.mdx
  stories/Popup/stories.tsx
Due: eslint --fix, prettier --write, git add --patch

chore: upgrade sass
  package.json
  packages/styles/src/Notice/index.scss
  packages/themes/scss/funcs/light-color.scss
  packages/themes/scss/funcs/shade-color.scss
  packages/themes/scss/vars/tokens.scss
  packages/ui/src/Notice/InternalNotice.tsx
  yarn.lock
Due: eslint --fix, prettier --write, git add --patch, stylelint **/*.scss --fix
