Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Prefix
  .stylelintrc
  package.json
  packages/styles/src/Prefix/index.ts
  packages/styles/src/index.scss
  packages/styles/src/index.ts
  packages/ui/package.json
  packages/ui/src/Prefix/index.tsx
  packages/ui/src/_utils/createConfig.tsx
  packages/ui/src/_utils/mergeConfig.ts
  packages/ui/src/index.ts
  stories/Prefix/Prefix.stories.mdx
  yarn.lock
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Icon
  packages/styles/src/Icon/index.scss
  packages/styles/src/Icon/index.ts
  packages/styles/src/_functions/_light-color.scss
  packages/styles/src/_functions/_merge-maps.scss
  packages/styles/src/_functions/_shade-color.scss
  packages/styles/src/_functions/_var.scss
  packages/styles/src/_mixins/_clearfix.scss
  packages/styles/src/_mixins/_text-overflow.scss
  packages/styles/src/_variables/_base.scss
  packages/styles/src/_variables/_dark.scss
  packages/styles/src/_variables/_light.scss
  packages/styles/src/_variables/_properties.scss
  packages/styles/src/index.scss
  packages/ui/src/Icon/index.tsx
  packages/ui/src/_utils/createConfig.tsx
  packages/ui/src/_utils/isNumber.ts
  packages/ui/src/_utils/isRenderableNode.tsx
  packages/ui/src/_utils/isString.ts
  packages/ui/src/index.ts
  stories/Icon/Basic.tsx
  stories/Icon/Icon.stories.mdx
  stories/Icon/Icon.stories.tsx
  stories/Icon/Nested.tsx
  stories/Icon/Spinning.tsx
  stories/Icon/Star.png
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Transition
  packages/styles/src/Transition/index.ts
  packages/ui/src/Transition/index.tsx
  packages/ui/src/_utils/isPositiveNumber.ts
  packages/ui/src/index.ts
  stories/Transition/Basic.tsx
  stories/Transition/CSSTransition.scss
  stories/Transition/CSSTransition.tsx
  stories/Transition/Transition.stories.mdx
  stories/Transition/Transition.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Size
  packages/styles/src/Size/index.ts
  packages/ui/src/Size/index.ts
  packages/ui/src/index.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Duration
  packages/styles/src/Duration/index.ts
  packages/ui/src/Duration/index.tsx
  packages/ui/src/index.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Theme
  .storybook/preview.js
  .storybook/themes.js
  packages/styles/src/Theme/index.scss
  packages/styles/src/Theme/index.ts
  packages/styles/src/_mixins/_transition.scss
  packages/styles/src/_variables/_base.scss
  packages/styles/src/_variables/_dark.scss
  packages/styles/src/_variables/_light.scss
  packages/styles/src/_variables/_properties.scss
  packages/styles/src/index.scss
  packages/ui/src/Theme/index.tsx
  packages/ui/src/index.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Compact
  .storybook/preview.js
  packages/styles/src/Compact/index.scss
  packages/styles/src/Compact/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Compact/index.tsx
  packages/ui/src/index.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Spinner
  packages/styles/src/Spinner/index.scss
  packages/styles/src/Spinner/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Spinner/SpinnerConfig.ts
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/_icons/LoaderIcon.tsx
  packages/ui/src/_icons/createIcon.tsx
  packages/ui/src/_utils/isCSSPropertyValue.ts
  packages/ui/src/index.ts
  stories/Spinner/Basic.tsx
  stories/Spinner/Config.tsx
  stories/Spinner/Contained.tsx
  stories/Spinner/CustomIcon.tsx
  stories/Spinner/Delay.tsx
  stories/Spinner/Spinner.stories.mdx
  stories/Spinner/Spinner.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Collapse
  packages/styles/src/Collapse/index.scss
  packages/styles/src/Collapse/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Collapse/index.tsx
  packages/ui/src/index.ts
  stories/Collapse/Basic.tsx
  stories/Collapse/Collapse.stories.mdx
  stories/Collapse/Collapse.stories.tsx
  stories/Collapse/ScrollElement.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Loader
  packages/styles/src/Loader/index.scss
  packages/styles/src/Loader/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Loader/LoaderConfig.ts
  packages/ui/src/Loader/index.tsx
  packages/ui/src/index.ts
  stories/Loader/Basic.tsx
  stories/Loader/Config.tsx
  stories/Loader/CustomIcon.tsx
  stories/Loader/Delay.tsx
  stories/Loader/Loader.stories.mdx
  stories/Loader/Loader.stories.tsx
  stories/Loader/Sizes.tsx
  stories/Loader/Standalone.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Button
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/styles/src/Button/index.scss
  packages/styles/src/Button/index.ts
  packages/styles/src/_variables/_dark.scss
  packages/styles/src/_variables/_light.scss
  packages/styles/src/_variables/_properties.scss
  packages/styles/src/index.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Loader/index.tsx
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/index.ts
  stories/Button.Group/Basic.tsx
  stories/Button.Group/Button.Group.stories.mdx
  stories/Button.Group/Button.Group.stories.tsx
  stories/Button.Group/Fluid.tsx
  stories/Button.Group/IconOnly.tsx
  stories/Button.Group/Mixed.tsx
  stories/Button.Group/Round.tsx
  stories/Button.Group/Vertical.tsx
  stories/Button/AsLink.tsx
  stories/Button/Basic.tsx
  stories/Button/Button.stories.mdx
  stories/Button/Button.stories.tsx
  stories/Button/Disabled.tsx
  stories/Button/Flat.tsx
  stories/Button/Fluid.tsx
  stories/Button/IconOnly.tsx
  stories/Button/Intents.tsx
  stories/Button/Loading.tsx
  stories/Button/Outlined.tsx
  stories/Button/Round.tsx
  stories/Button/Sizes.tsx
  stories/Button/Truncated.tsx
  stories/Button/WithIcons.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Switch
  packages/styles/src/Button/Button.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Switch/index.ts
  packages/styles/src/_variables/_base.scss
  packages/styles/src/_variables/_dark.scss
  packages/styles/src/_variables/_light.scss
  packages/styles/src/_variables/_properties.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Switch/index.tsx
  packages/ui/src/index.ts
  stories/Button.Group/Button.Group.stories.mdx
  stories/Button.Group/Button.Group.stories.tsx
  stories/Button/Button.stories.mdx
  stories/Button/Button.stories.tsx
  stories/Button/Disabled.tsx
  stories/Button/Loading.tsx
  stories/Button/Solid.tsx
  stories/Button/Truncated.tsx
  stories/Collapse/Basic.tsx
  stories/Collapse/ScrollElement.tsx
  stories/Loader/Basic.tsx
  stories/Loader/Config.tsx
  stories/Loader/Delay.tsx
  stories/Loader/Loader.stories.mdx
  stories/Loader/Standalone.tsx
  stories/Spinner/Basic.tsx
  stories/Spinner/Config.tsx
  stories/Spinner/Contained.tsx
  stories/Spinner/Delay.tsx
  stories/Spinner/Spinner.stories.mdx
  stories/Switch/Basic.tsx
  stories/Switch/Labelled.tsx
  stories/Switch/Loading.tsx
  stories/Switch/Sizes.tsx
  stories/Switch/Switch.stories.mdx
  stories/Switch/Switch.stories.tsx
  stories/Transition/Basic.tsx
  stories/Transition/CSSTransition.tsx
  stories/Transition/Transition.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Portal
  packages/styles/src/Portal/index.ts
  packages/ui/src/Portal/index.tsx
  packages/ui/src/index.ts
  stories/Portal/Basic.tsx
  stories/Portal/Portal.stories.mdx
  stories/Portal/Portal.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Dot
  packages/styles/src/Dot/index.scss
  packages/styles/src/Dot/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/_utils/isColorPreset.ts
  packages/ui/src/_utils/types.ts
  packages/ui/src/index.ts
  stories/Dot/Animated.tsx
  stories/Dot/Basic.tsx
  stories/Dot/ColorPresets.tsx
  stories/Dot/CustomColor.tsx
  stories/Dot/Dot.stories.mdx
  stories/Dot/Dot.stories.tsx
  stories/Dot/Intents.tsx
  stories/Dot/Sizes.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Tag
  packages/styles/src/Tag/index.scss
  packages/styles/src/Tag/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Tag/index.tsx
  packages/ui/src/_icons/CloseIcon.tsx
  packages/ui/src/index.ts
  stories/Tag/AsLink.tsx
  stories/Tag/Basic.tsx
  stories/Tag/Clearable.tsx
  stories/Tag/Clickable.tsx
  stories/Tag/Disabled.tsx
  stories/Tag/Intents.tsx
  stories/Tag/LongTag.tsx
  stories/Tag/Outlined.tsx
  stories/Tag/Round.tsx
  stories/Tag/Sizes.tsx
  stories/Tag/Solid.tsx
  stories/Tag/Tag.stories.mdx
  stories/Tag/Tag.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: fix dark alertive text color variables
  packages/styles/src/_variables/_dark.scss
Due: prettier --write, git add --patch, stylelint --fix

feat: add Badge
  packages/styles/src/Badge/index.scss
  packages/styles/src/Badge/index.ts
  packages/styles/src/_variables/_base.scss
  packages/styles/src/_variables/_properties.scss
  packages/styles/src/index.scss
  packages/ui/src/Badge/index.tsx
  packages/ui/src/index.ts
  stories/Badge/Badge.stories.mdx
  stories/Badge/Badge.stories.tsx
  stories/Badge/Basic.tsx
  stories/Badge/CustomTag.tsx
  stories/Badge/Dotted.tsx
  stories/Badge/Intents.tsx
  stories/Badge/Offset.tsx
  stories/Badge/Outlined.tsx
  stories/Badge/Placements.tsx
  stories/Badge/Sizes.tsx
  stories/Badge/Solid.tsx
  stories/Badge/Standalone.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

refactor(Switch): use useControllableState internally
  packages/ui/src/Switch/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Checkbox
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Checkbox/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/_icons/CheckIcon.tsx
  packages/ui/src/_icons/MinusIcon.tsx
  packages/ui/src/index.ts
  stories/Checkbox/Basic.tsx
  stories/Checkbox/Checkbox.stories.mdx
  stories/Checkbox/Checkbox.stories.tsx
  stories/Checkbox/Indeterminate.tsx
  stories/Checkbox/Loading.tsx
  stories/Checkbox/Sizes.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: move SCSS variables, functions and mixins into @lilib/themes
  .storybook/main.js
  packages/styles/README.md
  packages/styles/package.json
  packages/styles/src/Badge/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Collapse/index.scss
  packages/styles/src/Compact/index.scss
  packages/styles/src/Dot/index.scss
  packages/styles/src/Icon/index.scss
  packages/styles/src/Loader/index.scss
  packages/styles/src/Spinner/index.scss
  packages/styles/src/Switch/index.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/Theme/index.scss
  packages/themes/README.md
  packages/themes/index.scss
  packages/themes/package.json
  packages/themes/scss/functions/index.scss
  packages/themes/scss/functions/light-color.scss
  packages/themes/scss/functions/merge-maps.scss
  packages/themes/scss/functions/shade-color.scss
  packages/themes/scss/functions/var.scss
  packages/themes/scss/mixins/clearfix.scss
  packages/themes/scss/mixins/index.scss
  packages/themes/scss/mixins/text-overflow.scss
  packages/themes/scss/mixins/transition.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/index.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/package.json
  scripts/buildStyles.js
  scripts/rollupBundle.js
Due: eslint --fix, prettier --write, git add --patch, stylelint --fix

Path conditions:
  tsc-files --noEmit stories/assets.d.ts: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  git add --patch: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.scss
