Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve `Transition` component
  packages/ui/src/Transition/index.tsx
  stories/Transition/Transition.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Transition): remove warning for `children` prop
  packages/ui/src/Transition/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Collapse): fix switch usage
  packages/ui/src/Collapse/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `Flexbox` component
  packages/styles/src/Flexbox/index.scss
  packages/styles/src/Flexbox/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Flexbox/index.tsx
  packages/ui/src/index.ts
  stories/Flexbox/Align.tsx
  stories/Flexbox/Basic.tsx
  stories/Flexbox/Directions.tsx
  stories/Flexbox/Flexbox.stories.mdx
  stories/Flexbox/Flexbox.stories.tsx
  stories/Flexbox/Fluid.tsx
  stories/Flexbox/Gaps.tsx
  stories/Flexbox/Justify.tsx
  stories/Flexbox/Wrap.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Theme): add `Context` and `useConfig`
  packages/ui/src/Theme/index.tsx
  stories/Theme/Theme.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish `Spinner` component
  packages/styles/src/Spinner/index.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Direction/index.tsx
  packages/ui/src/Duration/index.tsx
  packages/ui/src/Loader/LoaderConfig.ts
  packages/ui/src/Prefix/index.tsx
  packages/ui/src/Spinner/SpinnerConfig.ts
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/Theme/index.tsx
  packages/ui/src/utils/createConfig.tsx
  stories/Direction/Direction.stories.mdx
  stories/Duration/Duration.stories.mdx
  stories/Intent/Intent.stories.mdx
  stories/Prefix/Prefix.stories.mdx
  stories/Size/Size.stories.mdx
  stories/Spinner/Spinner.stories.mdx
  stories/Theme/Theme.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish `Loader` component
  packages/ui/src/Loader/index.tsx
  stories/Loader/Loader.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish `Button` component
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Button/ButtonConfig.ts
  packages/ui/src/Button/ButtonGroup.tsx
  packages/ui/src/Button/index.tsx
  stories/Baseline/Forms.tsx
  stories/Button.Group/Button.Group.stories.mdx
  stories/Button.Group/Button.Group.stories.tsx
  stories/Button/Button.stories.mdx
  stories/Button/Button.stories.tsx
  stories/Button/Disabled.tsx
  stories/Button/Fluid.tsx
  stories/Button/Hollow.tsx
  stories/Button/IconOnly.tsx
  stories/Button/Icons.tsx
  stories/Button/Intents.tsx
  stories/Button/Link.tsx
  stories/Button/Loading.tsx
  stories/Button/Outlined.tsx
  stories/Button/Round.tsx
  stories/Button/Sizes.tsx
  stories/Button/Truncated.tsx
  stories/Button/WithIcons.tsx
  stories/Duration/Nested.tsx
  stories/Intent/Nested.tsx
  stories/Size/Nested.tsx
  stories/Theme/Nested.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish `Dot` component
  packages/styles/src/Dot/index.scss
  packages/ui/src/Dot/index.tsx
  stories/Dot/Animated.tsx
  stories/Dot/CustomColor.tsx
  stories/Dot/Dot.stories.mdx
  stories/Dot/Intents.tsx
  stories/Dot/Sizes.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Tag component
  .prettierrc
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Tag/index.tsx
  stories/Tag/Disabled.tsx
  stories/Tag/Hollow.tsx
  stories/Tag/Intents.tsx
  stories/Tag/Link.tsx
  stories/Tag/LongTag.tsx
  stories/Tag/Outlined.tsx
  stories/Tag/Sizes.tsx
  stories/Tag/Tag.stories.mdx
  stories/Tag/Tag.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: fix Tag style issue
  packages/styles/src/Tag/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore(Tag): improve events
  packages/styles/src/Tag/index.scss
  packages/ui/src/Tag/index.tsx
  stories/Tag/Clickable.tsx
  stories/Tag/Tag.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Badge component
  packages/styles/src/Badge/index.scss
  packages/ui/src/Badge/index.tsx
  stories/Badge/Badge.stories.mdx
  stories/Badge/Badge.stories.tsx
  stories/Badge/Dotted.tsx
  stories/Badge/Intents.tsx
  stories/Badge/Offset.tsx
  stories/Badge/Outlined.tsx
  stories/Badge/Placements.tsx
  stories/Badge/Positions.tsx
  stories/Badge/Solid.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Tag): use content-box instead of border-box
  packages/styles/src/Badge/index.scss
  packages/styles/src/Tag/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: remove border-width and font-weight variables
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Button/ButtonGroup.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Switch/index.tsx
  packages/ui/src/Tag/index.tsx
  stories/Switch/Disabled.tsx
  stories/Switch/Icon.tsx
  stories/Switch/Labelled.tsx
  stories/Switch/Sizes.tsx
  stories/Switch/Switch.stories.mdx
  stories/Switch/Switch.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: fix Safari direction issue
  packages/styles/src/Baseline/index.scss
  packages/themes/scss/mixins/focus-outline.scss
  packages/themes/scss/mixins/index.scss
  packages/ui/src/Direction/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Tag): fix Safari style issue
  packages/styles/src/Tag/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore(Switch): improve styles
  packages/styles/src/Switch/index.scss
  packages/ui/src/Switch/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Switch): use flex for labels
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Switch/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: finish Switch component
  packages/styles/src/Switch/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Switch/index.tsx
  stories/Switch/Borderless.tsx
  stories/Switch/Sizes.tsx
  stories/Switch/Switch.stories.mdx
  stories/Switch/Switch.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: finish Checkbox component
  packages/styles/src/Checkbox/index.scss
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/Switch/index.tsx
  stories/Checkbox/Basic.tsx
  stories/Checkbox/Checkbox.stories.mdx
  stories/Checkbox/Checkbox.stories.tsx
  stories/Checkbox/Disabled.tsx
  stories/Checkbox/Loading.tsx
  stories/Checkbox/Sizes.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

Path conditions:
  tsc-files --noEmit stories/assets.d.ts: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  git add --patch: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.scss)) or (any of: *.{md,mdx,json})
  stylelint --fix: any of: *.scss
