Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit stories/assets.d.ts",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

chore: finish Popper component
  packages/styles/src/Image/index.ts
  packages/ui/package.json
  packages/ui/src/Image/index.tsx
  packages/ui/src/Popper/index.tsx
  packages/ui/src/index.ts
  stories/Popper/Arrow.tsx
  stories/Popper/Basic.tsx
  stories/Popper/Events.tsx
  stories/Popper/HoverMove.tsx
  stories/Popper/Inline.tsx
  stories/Popper/Nested.tsx
  stories/Popper/Placements.tsx
  stories/Popper/Popper.stories.mdx
  stories/Popper/Popper.stories.tsx
  stories/Popper/RightClick.tsx
  stories/Popper/TextSelection.tsx
  yarn.lock
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

Updates
  iframe.html
  main.24500767.iframe.bundle.js
  main.ad30f65e.iframe.bundle.js
  project.json
  vendors~main.0948a44a.iframe.bundle.js
  vendors~main.0948a44a.iframe.bundle.js.LICENSE.txt
  vendors~main.0948a44a.iframe.bundle.js.map
  vendors~main.3e523739.iframe.bundle.js
  vendors~main.3e523739.iframe.bundle.js.map
Due: eslint --fix, prettier --write, git add --patch

feat: add Image component
  packages/ui/src/Image/index.tsx
  stories/Image/Basic.tsx
  stories/Image/Fallback.tsx
  stories/Image/Image.stories.mdx
  stories/Image/Image.stories.tsx
  stories/Image/LazyLoad.tsx
  stories/Image/Placeholder.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Avatar component
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Avatar/AvatarGroup.scss
  packages/styles/src/Avatar/index.scss
  packages/styles/src/Avatar/index.ts
  packages/styles/src/index.scss
  packages/ui/package.json
  packages/ui/src/Avatar/AvatarConfig.ts
  packages/ui/src/Avatar/AvatarGroup.tsx
  packages/ui/src/Avatar/index.tsx
  packages/ui/src/index.ts
  stories/Avatar/Avatar.stories.mdx
  stories/Avatar/Avatar.stories.tsx
  stories/Avatar/Basic.tsx
  stories/Avatar/Clickable.tsx
  stories/Avatar/Colors.tsx
  stories/Avatar/CustomSize.tsx
  stories/Avatar/Icon.tsx
  stories/Avatar/Round.tsx
  stories/Avatar/Sizes.tsx
  stories/Avatar/Text.tsx
  stories/AvatarGroup/AvatarGroup.stories.mdx
  stories/AvatarGroup/AvatarGroup.stories.tsx
  stories/AvatarGroup/Example.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

feat: add Alert component
  packages/styles/src/Alert/index.scss
  packages/styles/src/Alert/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Alert/index.tsx
  packages/ui/src/index.ts
  stories/Alert/Alert.stories.mdx
  stories/Alert/Alert.stories.tsx
  stories/Alert/Basic.tsx
  stories/Alert/Closable.tsx
  stories/Alert/Controlled.tsx
  stories/Alert/Icon.tsx
  stories/Alert/Intents.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Alert): fix RTL styles
  packages/styles/src/Alert/index.scss
Due: prettier --write, git add --patch, stylelint --fix

feat: add Popup component
  packages/styles/src/Popup/index.scss
  packages/styles/src/Popup/index.ts
  packages/styles/src/Tooltip/index.scss
  packages/styles/src/Tooltip/index.ts
  packages/styles/src/index.scss
  packages/ui/src/Popup/index.tsx
  packages/ui/src/Tooltip/index.tsx
  packages/ui/src/index.ts
  stories/Popup/Basic.tsx
  stories/Popup/Placements.tsx
  stories/Popup/Popup.stories.mdx
  stories/Popup/Popup.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add z-index and box-shadow variables
  packages/styles/src/Popup/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: add docs order
  .storybook/order.js
Due: eslint --fix, prettier --write, git add --patch

docs: improve storybook preview
  .storybook/preview.js
  .storybook/themes.js
Due: eslint --fix, prettier --write, git add --patch

chore: improve Icon component
  .lintstagedrc
  packages/ui/src/Icon/index.tsx
  stories/Icon/Basic.tsx
  stories/Icon/Star.png
  tsconfig.base.json
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Baseline): support hidden foucs outline when click
  packages/styles/src/Baseline/index.scss
  packages/ui/src/Baseline/index.tsx
  stories/Baseline/Addresses.tsx
  stories/Baseline/Baseline.stories.mdx
  stories/Baseline/Blockquote.tsx
  stories/Baseline/InlineElements.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

docs: improve
  stories/Direction/Direction.stories.mdx
  stories/Direction/Nested.tsx
  stories/Direction/Scoped.tsx
  stories/Prefix/Prefix.stories.mdx
  stories/Theme/Nested.tsx
  stories/Theme/Scoped.tsx
  stories/Theme/SyncWithSystem.tsx
  stories/Theme/Theme.stories.mdx
  stories/assets.d.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve styles
  packages/styles/src/Baseline/index.scss
  packages/themes/index.scss
  packages/themes/scss/functions/var.scss
  packages/themes/scss/mixins/transition.scss
Due: prettier --write, git add --patch, stylelint --fix

feat: add Space component
  .storybook/preview.js
  packages/styles/src/Space/index.scss
  packages/styles/src/Space/index.ts
  packages/styles/src/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Space/index.tsx
  packages/ui/src/index.ts
  stories/Direction/Direction.stories.mdx
  stories/Space/Nested.tsx
  stories/Space/Scoped.tsx
  stories/Space/Space.stories.mdx
  stories/Space/Space.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Loader): don't use Duration for standalone Loader
  packages/ui/src/Loader/index.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Dot): fix RTL margins
  packages/styles/src/Dot/index.scss
  packages/ui/src/utils/isPresetColor.ts
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Button component
  packages/styles/src/Button/Button.scss
  packages/ui/src/Button/index.tsx
  stories/Button.Group/Basic.tsx
  stories/Button.Group/Button.Group.stories.mdx
  stories/Button.Group/Button.Group.stories.tsx
  stories/Button.Group/Example.tsx
  stories/Button.Group/Fluid.tsx
  stories/Button.Group/IconOnly.tsx
  stories/Button.Group/Mixed.tsx
  stories/Button.Group/Round.tsx
  stories/Button.Group/Vertical.tsx
  stories/Button/Button.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Switch): delete borderless prop
  packages/styles/src/Switch/index.scss
  packages/ui/src/Switch/index.tsx
  stories/Switch/Borderless.tsx
  stories/Switch/Switch.stories.mdx
  stories/Switch/Switch.stories.tsx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: fix focus outline
  packages/styles/src/Button/Button.scss
  packages/styles/src/Checkbox/index.scss
  packages/styles/src/Switch/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: merge Radio and Radio.Group docs
  packages/styles/src/Radio/index.scss
  stories/Radio.Group/Example.tsx
  stories/Radio.Group/Radio.Group.stories.mdx
  stories/Radio.Group/Radio.Group.stories.tsx
  stories/Radio.Group/Uncontrolled.tsx
  stories/Radio/Radio.stories.mdx
Due: tsc-files --noEmit stories/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix
