Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

feat: add Display component
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Display/index.tsx
  packages/ui/src/Display/useCloseEvent.ts
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  stories/Backdrop/stories.mdx
  stories/Popper/Basic.tsx
  stories/Popper/CloseEvents.tsx
  stories/Popup/CloseEvents.tsx
  stories/Space/Nested.tsx
  stories/Space/Scoped.tsx
  stories/Space/Space.stories.mdx
  stories/Space/Space.stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Popper): use Display internally
  packages/styles/src/Display/index.ts
  packages/ui/src/Display/index.tsx
  packages/ui/src/Display/useCloseEvent.ts
  packages/ui/src/Popper/index.tsx
  packages/ui/src/index.ts
  stories/Popper/Basic.tsx
  stories/Popper/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Popup): add `padding` prop
  packages/styles/src/Popup/index.scss
  packages/ui/src/Popup/index.tsx
  stories/Popup/Basic.tsx
  stories/Popup/CloseEvents.tsx
  stories/Popup/Controlled.tsx
  stories/Popup/DisableAnimation.tsx
  stories/Popup/HideArrow.tsx
  stories/Popup/HoverDelay.tsx
  stories/Popup/HoverMove.tsx
  stories/Popup/Inline.tsx
  stories/Popup/Nested.tsx
  stories/Popup/Placements.tsx
  stories/Popup/RightClick.tsx
  stories/Popup/TextSelection.tsx
  stories/Popup/TriggerDelay.tsx
  stories/Popup/TriggerEvents.tsx
  stories/Popup/WithInfo.tsx
  stories/Popup/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Confirm and Tooltip styles
  packages/styles/src/Confirm/index.scss
  packages/styles/src/Tooltip/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore(Info): remove `padding` prop
  packages/styles/src/Info/index.scss
  packages/ui/src/Info/index.tsx
  stories/Info/Padding.tsx
  stories/Info/stories.mdx
  stories/Info/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Transition): change prop names
  packages/ui/src/Alert/index.tsx
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Badge/index.tsx
  packages/ui/src/Button/index.tsx
  packages/ui/src/Collapse/index.tsx
  packages/ui/src/Loader/index.tsx
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  packages/ui/src/Spinner/index.tsx
  packages/ui/src/Transition/index.tsx
  stories/Collapse/stories.mdx
  stories/Transition/Basic.tsx
  stories/Transition/CSSTransition.tsx
  stories/Transition/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs(Display): add Display document
  .storybook/order.js
  stories/Button/stories.mdx
  stories/Display/Basic.tsx
  stories/Display/CloseEvents.tsx
  stories/Display/Delay.tsx
  stories/Display/KeepAlive.tsx
  stories/Display/stories.mdx
  stories/Display/stories.tsx
  stories/Icon/stories.mdx
  stories/Image/stories.mdx
  stories/Portal/stories.mdx
  stories/Text/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Backdrop component
  packages/styles/src/Backdrop/index.scss
  packages/styles/src/Popup/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Spinner/index.tsx
  stories/Backdrop/Basic.tsx
  stories/Backdrop/Blurred.tsx
  stories/Backdrop/CloseEvents.tsx
  stories/Backdrop/Controlled.tsx
  stories/Backdrop/Delay.tsx
  stories/Backdrop/DisableAnimation.tsx
  stories/Backdrop/Transparent.tsx
  stories/Backdrop/stories.mdx
  stories/Backdrop/stories.tsx
  stories/Tokens/ZIndexes.tsx
  stories/Tokens/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: suppress body scrollbar
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Backdrop/useSuppressBodyScrollbar.ts
  packages/ui/src/Info/index.tsx
  stories/Backdrop/CloseEvents.tsx
  stories/Backdrop/CustomCloseButton.tsx
  stories/Backdrop/stories.mdx
  stories/Backdrop/stories.tsx
  stories/Popup/WithInfo.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(Backdrop): don't set width when scrollbar falsy
  packages/ui/src/Backdrop/useSuppressBodyScrollbar.ts
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Backdrop component
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/utils/createProvider.tsx
  stories/Backdrop/Basic.tsx
  stories/Backdrop/Blurred.tsx
  stories/Backdrop/CloseEvents.tsx
  stories/Backdrop/CustomCloseButton.tsx
  stories/Backdrop/Delay.tsx
  stories/Backdrop/DisableAnimation.tsx
  stories/Backdrop/Transparent.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

docs(Backdrop): add Backdrop docs
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/utils/createProvider.tsx
  stories/Backdrop/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Modal component
  .storybook/order.js
  packages/styles/src/Modal/index.scss
  packages/styles/src/Modal/index.ts
  packages/themes/scss/variables/light.scss
  packages/ui/src/Modal/index.tsx
  packages/ui/src/index.ts
  stories/Modal/Basic.tsx
  stories/Modal/stories.mdx
  stories/Modal/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Tag): rename `clickable` to `hoverable`
  packages/styles/src/Tag/index.scss
  packages/ui/src/Tag/index.tsx
  stories/Tag/Colors.tsx
  stories/Tag/Hollow.tsx
  stories/Tag/Hoverable.tsx
  stories/Tag/Link.tsx
  stories/Tag/Solid.tsx
  stories/Tag/stories.mdx
  stories/Tag/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Avatar): rename `clickable` to `hoverable`
  packages/styles/src/Avatar/Avatar.scss
  packages/ui/src/Avatar/AvatarConfig.ts
  packages/ui/src/Avatar/AvatarGroup.tsx
  packages/ui/src/Avatar/index.tsx
  stories/Avatar/Colors.tsx
  stories/Avatar/Groups.tsx
  stories/Avatar/Link.tsx
  stories/Avatar/Solid.tsx
  stories/Avatar/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Backdrop): improve stories
  stories/Backdrop/Basic.tsx
  stories/Backdrop/Blurred.tsx
  stories/Backdrop/CloseEvents.tsx
  stories/Backdrop/CustomCloseButton.tsx
  stories/Backdrop/Delay.tsx
  stories/Backdrop/DisableAnimation.tsx
  stories/Backdrop/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish Modal props definition
  packages/styles/src/Modal/index.scss
  packages/styles/src/Popup/index.scss
  packages/styles/src/Tooltip/index.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Modal/index.tsx
  stories/Backdrop/CustomCloseButton.tsx
  stories/Popup/WithInfo.tsx
  stories/Tooltip/WithButtons.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Display and Popup components
  packages/styles/src/Modal/index.scss
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Display/index.tsx
  packages/ui/src/Modal/index.tsx
  packages/ui/src/Popup/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore(Popper): add `render` prop
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  stories/Popper/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch
