Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

docs(Button): remove duplicated example
  stories/Button/Button.stories.mdx
Due: prettier --write, git add --patch

chore(Radio): support any value
  packages/ui/src/Radio/RadioConfig.ts
  packages/ui/src/Radio/RadioGroup.tsx
  packages/ui/src/Radio/index.tsx
  stories/Radio.Group/Example.tsx
  stories/Radio/Radio.stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add palettes variables
  .lintstagedrc
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/index.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: add color palettes
  .storybook/order.js
  package.json
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
  stories/Palettes/BaseTable.tsx
  stories/Palettes/ColorTable.tsx
  stories/Palettes/Palettes.stories.mdx
  yarn.lock
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve palettes
  packages/styles/src/Dot/index.scss
  packages/themes/scss/variables/palettes.scss
  packages/themes/scss/variables/properties.scss
  stories/Palettes/ColorTable.tsx
  stories/Palettes/Palettes.stories.mdx
  stories/Palettes/RGBTable.tsx
  stories/Palettes/colors.ts
  stories/components/CSSValue.tsx
  stories/components/ColorPreview.tsx
  stories/components/Monospace.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

refactor: redesign tokens
  .storybook/main.js
  .storybook/preview.js
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  stories/Palettes/BaseTable.tsx
  stories/Palettes/stories.mdx
  stories/components/ColorPreview.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add design token stories
  .storybook/main.js
  .storybook/order.js
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  stories/Palettes/ColorTable.tsx
  stories/Palettes/ScaleTable.tsx
  stories/Palettes/stories.mdx
  stories/Tokens/FeaturesTable.tsx
  stories/Tokens/FontFamiliesTable.tsx
  stories/Tokens/FontSizesTable.tsx
  stories/Tokens/LineHeightsTable.tsx
  stories/Tokens/SpacesTable.tsx
  stories/Tokens/stories.mdx
  stories/components/CSSValue.tsx
  stories/components/Monospace.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

docs: improve design token stories
  stories/Tokens/BasicColorsTable.tsx
  stories/Tokens/BasicRGBsTable.tsx
  stories/Tokens/BorderRadiiTable.tsx
  stories/Tokens/ColorAlphasTable.tsx
  stories/Tokens/MotionDurationsTable.tsx
  stories/Tokens/MotionFunctionsTable.tsx
  stories/Tokens/TextColorsTable.tsx
  stories/Tokens/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish design tokens
  .storybook/preview.scss
  packages/styles/src/Baseline/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/dark.scss
  packages/themes/scss/variables/light.scss
  packages/themes/scss/variables/properties.scss
  stories/Tokens/BackgroundColors.tsx
  stories/Tokens/BorderColors.tsx
  stories/Tokens/Colors.tsx
  stories/Tokens/RGBs.tsx
  stories/Tokens/Spaces.tsx
  stories/Tokens/TextColors.tsx
  stories/Tokens/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Badge component
  packages/ui/src/Badge/index.tsx
  stories/Badge/MaxCount.tsx
  stories/Badge/stories.mdx
  stories/Badge/stories.tsx
  stories/Transition/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Image component
  stories/Image/Basic.tsx
  stories/Image/Fallback.tsx
  stories/Image/LazyLoad.tsx
  stories/Image/Placeholder.tsx
  stories/Image/stories.mdx
  stories/Image/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Avatar component
  packages/styles/src/Avatar/Avatar.scss
  packages/ui/src/Avatar/index.tsx
  stories/Avatar/Avatar.stories.mdx
  stories/Avatar/Avatar.stories.tsx
  stories/Avatar/Basic.tsx
  stories/Avatar/Clickable.tsx
  stories/Avatar/Colors.tsx
  stories/Avatar/CustomSize.tsx
  stories/Avatar/Groups.tsx
  stories/Avatar/Icon.tsx
  stories/Avatar/Link.tsx
  stories/Avatar/Round.tsx
  stories/Avatar/Sizes.tsx
  stories/Avatar/Text.tsx
  stories/Avatar/stories.mdx
  stories/Avatar/stories.tsx
  stories/AvatarGroup/AvatarGroup.stories.mdx
  stories/AvatarGroup/AvatarGroup.stories.tsx
  stories/AvatarGroup/Example.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Avatar component
  packages/styles/src/Alert/index.scss
  packages/styles/src/Avatar/Avatar.scss
  packages/ui/src/Avatar/index.tsx
  stories/Alert/Alert.stories.tsx
  stories/Alert/Basic.tsx
  stories/Alert/Closable.tsx
  stories/Alert/Controlled.tsx
  stories/Alert/Icon.tsx
  stories/Alert/Intents.tsx
  stories/Alert/stories.mdx
  stories/Alert/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Alert component
  packages/styles/src/Alert/index.scss
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Alert/AlertDescription.tsx
  packages/ui/src/Alert/AlertTitle.tsx
  packages/ui/src/Alert/index.tsx
  stories/Alert/Closable.tsx
  stories/Alert/Controlled.tsx
  stories/Alert/Description.tsx
  stories/Alert/Icon.tsx
  stories/Alert/Intents.tsx
  stories/Alert/stories.mdx
  stories/Alert/stories.tsx
  stories/Tokens/FontSizes.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Popper component
  packages/ui/src/Popper/index.tsx
  stories/Popper/Arrow.tsx
  stories/Popper/Basic.tsx
  stories/Popper/Events.tsx
  stories/Popper/HoverMove.tsx
  stories/Popper/Inline.tsx
  stories/Popper/Nested.tsx
  stories/Popper/Placements.tsx
  stories/Popper/Popper.stories.tsx
  stories/Popper/RightClick.tsx
  stories/Popper/TextSelection.tsx
  stories/Popper/TriggerEvents.tsx
  stories/Popper/stories.mdx
  stories/Popper/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Popper and Popup components
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  stories/Popper/Config.tsx
  stories/Popper/Nested.tsx
  stories/Popper/stories.mdx
  stories/Popup/Config.tsx
  stories/Popup/Nested.tsx
  stories/Popup/RightClick.tsx
  stories/Popup/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add Tooltip component
  packages/styles/src/Tooltip/index.scss
  packages/styles/src/Tooltip/index.ts
  packages/themes/scss/variables/base.scss
  packages/themes/scss/variables/properties.scss
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Tooltip/index.tsx
  stories/Tokens/ZIndexes.tsx
  stories/Tooltip/Basic.tsx
  stories/Tooltip/Intents.tsx
  stories/Tooltip/WithButtons.tsx
  stories/Tooltip/WithLink.tsx
  stories/Tooltip/stories.mdx
  stories/Tooltip/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix
