Repository lilibraries/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.scss": [
    "stylelint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

docs: add custom clear icon document for Tag component
  stories/Tag/CustomClearIcon.tsx
  stories/Tag/stories.mdx
  stories/Tag/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: refactor Badge component
  README.md
  packages/styles/src/Badge/index.scss
  packages/ui/src/Badge/index.tsx
  stories/Badge/BadgeColors.tsx
  stories/Badge/BadgePlacements.tsx
  stories/Badge/BadgeSizes.tsx
  stories/Badge/Basic.tsx
  stories/Badge/CustomBadgeTag.tsx
  stories/Badge/DisplayDots.tsx
  stories/Badge/Dotted.tsx
  stories/Badge/MaxCount.tsx
  stories/Badge/SetBadgeOffset.tsx
  stories/Badge/SetMaxCount.tsx
  stories/Badge/Sizes.tsx
  stories/Badge/Solid.tsx
  stories/Badge/SolidBadges.tsx
  stories/Badge/Standalone.tsx
  stories/Badge/stories.mdx
  stories/Badge/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: change dark text color
  packages/themes/scss/vars/tokens.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: some badge examples remove outlined prop
  stories/Badge/BadgeColors.tsx
  stories/Badge/BadgePlacements.tsx
  stories/Badge/BadgeSizes.tsx
  stories/Badge/Basic.tsx
  stories/Badge/SetMaxCount.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add feedback effect for some components
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Tag/index.scss
  packages/styles/src/Text/index.scss
  packages/themes/scss/mixins/feedback.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: add reverse text color tokens
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  stories/Tokens/stories.mdx
Due: prettier --write, git add --patch, stylelint --fix

chore: improve default solid button style
  packages/styles/src/Button/Button.scss
  packages/themes/scss/vars/tokens.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: add flex css for small components
  packages/styles/src/Avatar/Avatar.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Dot/index.scss
  packages/styles/src/Icon/index.scss
  packages/styles/src/Spinner/index.scss
  packages/styles/src/Tag/index.scss
  packages/ui/src/Tag/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Radio component
  packages/styles/src/Radio/index.scss
  packages/ui/package.json
  packages/ui/src/Radio/RadioGroup.tsx
  packages/ui/src/Radio/index.tsx
  packages/ui/src/Transition/index.tsx
  stories/Radio/BasicRadio.tsx
  stories/Radio/DisabledState.tsx
  stories/Radio/LoadingState.tsx
  stories/Radio/RadioGroups.tsx
  stories/Radio/RadioSizes.tsx
  stories/Radio/stories.mdx
  stories/Radio/stories.tsx
  yarn.lock
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: change Radio checked dot color
  packages/styles/src/Radio/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: improve Checkbox component
  packages/styles/src/Checkbox/index.scss
  packages/ui/src/Checkbox/index.tsx
  packages/ui/src/Radio/index.tsx
  stories/Checkbox/BasicCheckbox.tsx
  stories/Checkbox/CheckboxSizes.tsx
  stories/Checkbox/DisabledState.tsx
  stories/Checkbox/IndeterminateStyle.tsx
  stories/Checkbox/LoadingState.tsx
  stories/Checkbox/stories.mdx
  stories/Checkbox/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: update README.md
  README.md
Due: prettier --write, git add --patch

chore: set tag clear button as link
  packages/ui/src/Tag/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Switch component
  packages/styles/src/Switch/index.scss
  packages/ui/src/Switch/index.tsx
  stories/Switch/Loading.tsx
  stories/Switch/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve enum property type
  packages/ui/src/Divider/index.tsx
  packages/ui/src/Dot/index.tsx
  packages/ui/src/Flexbox/index.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: remove fixed line height tokens
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  stories/Tokens/LineHeights.tsx
  stories/Tokens/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

fix: correct utils ts error
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Modal/index.tsx
  packages/ui/src/Popper/index.tsx
  packages/ui/src/utils/Mounted.tsx
  packages/ui/src/utils/createConfig.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: refactor Description component
  packages/styles/src/Description/index.scss
  packages/ui/src/Description/DescriptionDetail.tsx
  packages/ui/src/Description/DescriptionTitle.tsx
  packages/ui/src/Description/index.tsx
  stories/Description/Basic.tsx
  stories/Description/WithIcons.tsx
  stories/Description/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: add Trigger component
  .storybook/order.js
  README.md
  packages/styles/src/Confirm/index.ts
  packages/styles/src/Menu/index.ts
  packages/styles/src/Modal/index.ts
  packages/styles/src/Popup/index.scss
  packages/styles/src/Trigger/index.ts
  packages/styles/src/index.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  packages/ui/src/Trigger/TriggerAnchor.tsx
  packages/ui/src/Trigger/TriggerContext.ts
  packages/ui/src/Trigger/TriggerLayer.tsx
  packages/ui/src/Trigger/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/useCloseEvent.ts
  stories/Tokens/ZIndexes.tsx
  stories/Trigger/Basic.tsx
  stories/Trigger/ComplexEvents.tsx
  stories/Trigger/ContextMenu.tsx
  stories/Trigger/PopupLayer.tsx
  stories/Trigger/stories.mdx
  stories/Trigger/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: refactor Popper component
  .prettierrc
  README.md
  package.json
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Modal/index.tsx
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Trigger/TriggerAnchor.tsx
  packages/ui/src/Trigger/TriggerLayer.tsx
  packages/ui/src/Trigger/index.tsx
  packages/ui/src/utils/Mounted.tsx
  stories/Backdrop/stories.mdx
  stories/Modal/stories.mdx
  stories/Popper/ArrowPopper.tsx
  stories/Popper/BasicPopper.tsx
  stories/Popper/CloseEvents.tsx
  stories/Popper/ControlledOpen.tsx
  stories/Popper/HoverDelay.tsx
  stories/Popper/HoverMove.tsx
  stories/Popper/InlineTrigger.tsx
  stories/Popper/Nested.tsx
  stories/Popper/NestedPopper.tsx
  stories/Popper/Placements.tsx
  stories/Popper/RightClick.tsx
  stories/Popper/TextSelection.tsx
  stories/Popper/TriggerDelay.tsx
  stories/Popper/TriggerEvents.tsx
  stories/Popper/stories.mdx
  stories/Popper/stories.tsx
  stories/Popup/stories.mdx
  stories/Portal/stories.mdx
  stories/Trigger/stories.mdx
  yarn.lock
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: refactor Popup component
  packages/styles/src/Popup/index.scss
  packages/ui/src/Popper/index.tsx
  packages/ui/src/Popup/index.tsx
  packages/ui/src/Transition/index.tsx
  packages/ui/src/Trigger/TriggerAnchor.tsx
  packages/ui/src/Trigger/TriggerLayer.tsx
  stories/Popper/HoverDelay.tsx
  stories/Popper/TriggerDelay.tsx
  stories/Popper/stories.mdx
  stories/Popup/Basic.tsx
  stories/Popup/CloseEvents.tsx
  stories/Popup/ControlledOpen.tsx
  stories/Popup/DisableAnimation.tsx
  stories/Popup/HoverDelay.tsx
  stories/Popup/HoverMove.tsx
  stories/Popup/InlineTrigger.tsx
  stories/Popup/Nested.tsx
  stories/Popup/NestedPopup.tsx
  stories/Popup/Placements.tsx
  stories/Popup/RightClick.tsx
  stories/Popup/ShowArrow.tsx
  stories/Popup/TextSelection.tsx
  stories/Popup/TriggerDelay.tsx
  stories/Popup/TriggerEvents.tsx
  stories/Popup/WithDescription.tsx
  stories/Popup/WithInfo.tsx
  stories/Popup/stories.mdx
  stories/Popup/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: fix Popper text trigger
  packages/ui/src/Popper/index.tsx
  stories/Popper/TextTrigger.tsx
  stories/Popper/stories.mdx
  stories/Popper/stories.tsx
  stories/Popup/DescriptionContent.tsx
  stories/Popup/TextTrigger.tsx
  stories/Popup/stories.mdx
  stories/Popup/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve the Tooltip component
  README.md
  packages/styles/src/Tooltip/index.scss
  packages/ui/src/Tooltip/index.tsx
  stories/Tooltip/Basic.tsx
  stories/Tooltip/ButtonContent.tsx
  stories/Tooltip/LinkContent.tsx
  stories/Tooltip/WithButtons.tsx
  stories/Tooltip/stories.mdx
  stories/Tooltip/stories.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve the Confirm component
  .prettierrc
  README.md
  packages/ui/src/Confirm/index.tsx
  stories/Confirm/Basic.tsx
  stories/Confirm/Confirming.tsx
  stories/Confirm/Custom.tsx
  stories/Confirm/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: improve Description styles
  packages/styles/src/Confirm/index.scss
  packages/styles/src/Description/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: change checked radio cursor to auto
  packages/styles/src/Radio/index.scss
Due: prettier --write, git add --patch, stylelint --fix

chore: refactor Backdrop component
  README.md
  packages/styles/src/Backdrop/index.scss
  packages/ui/src/Backdrop/index.tsx
  packages/ui/src/Backdrop/useSuppressBodyScrollbar.ts
  packages/ui/src/utils/useSuppressBodyScrollbar.ts
  stories/Backdrop/Animeless.tsx
  stories/Backdrop/Blurred.tsx
  stories/Backdrop/CloseEvents.tsx
  stories/Backdrop/Delay.tsx
  stories/Backdrop/DisableAnimation.tsx
  stories/Backdrop/Transparent.tsx
  stories/Backdrop/stories.mdx
  stories/Backdrop/stories.tsx
  stories/Popup/stories.mdx
  stories/Trigger/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: change large border radius values
  packages/themes/scss/vars/tokens.scss
  stories/Tokens/BorderRadii.tsx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: set Tooltip's arrowed prop to true
  packages/styles/src/Popup/index.scss
  packages/ui/src/Tooltip/index.tsx
  stories/Alert/Info.tsx
  stories/Popup/DescriptionContent.tsx
  stories/Tooltip/ButtonContent.tsx
  stories/Tooltip/Intents.tsx
  stories/Tooltip/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Alert component
  .prettierrc
  README.md
  package.json
  packages/styles/src/Alert/index.scss
  packages/styles/src/Alert/index.ts
  packages/styles/src/Description/index.scss
  packages/ui/package.json
  packages/ui/src/Alert/index.tsx
  packages/ui/src/Description/index.tsx
  stories/Alert/Closable.tsx
  stories/Alert/CloseLoading.tsx
  stories/Alert/CustomIcon.tsx
  stories/Alert/Description.tsx
  stories/Alert/Info.tsx
  stories/Alert/Intents.tsx
  stories/Alert/Loading.tsx
  stories/Alert/stories.mdx
  stories/Alert/stories.tsx
  stories/Description/MoreIconExamples.tsx
  stories/Description/WithIcon.tsx
  stories/Description/WithMark.tsx
  stories/Description/stories.mdx
  stories/Description/stories.tsx
  yarn.lock
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve Card component
  .eslintrc
  README.md
  packages/styles/src/Card/index.scss
  packages/ui/src/Card/index.tsx
  stories/Card/AsLink.tsx
  stories/Card/Basic.tsx
  stories/Card/Complex.tsx
  stories/Card/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve design tokens
  .prettierrc
  .storybook/themes.js
  package.json
  packages/styles/src/Alert/index.scss
  packages/styles/src/Baseline/index.scss
  packages/styles/src/Button/Button.scss
  packages/styles/src/Card/index.scss
  packages/styles/src/List/List.scss
  packages/styles/src/Modal/index.scss
  packages/styles/src/Popup/index.scss
  packages/styles/src/Tag/index.scss
  packages/themes/scss/vars/index.scss
  packages/themes/scss/vars/palettes.scss
  packages/themes/scss/vars/properties.scss
  packages/themes/scss/vars/tokens.scss
  stories/Tokens/BorderRadii.tsx
  stories/Tokens/Features.tsx
  stories/Tokens/FontFamilies.tsx
  stories/Tokens/FontSizes.tsx
  stories/Tokens/FontWeights.tsx
  stories/Tokens/LineHeights.tsx
  stories/Tokens/Lists.tsx
  stories/Tokens/Prefixes.tsx
  stories/Tokens/ZIndexes.tsx
  stories/Tokens/stories.mdx
  stories/components/Monospace.tsx
  stories/components/Usage.tsx
  stories/components/Value.tsx
  yarn.lock
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

docs: remove background-color-overlay token
  stories/Tokens/stories.mdx
Due: prettier --write, git add --patch

chore: improve Root component
  packages/ui/src/Root/index.tsx
  stories/Root/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: improve Root docs
  stories/Root/stories.mdx
Due: prettier --write, git add --patch

chore: improve Baseline component
  packages/styles/src/Baseline/index.scss
  packages/ui/src/Root/index.tsx
  stories/Baseline/Addresses.tsx
  stories/Baseline/Blockquote.tsx
  stories/Baseline/Forms.tsx
  stories/Baseline/InlineElements.tsx
  stories/Baseline/Paragraphs.tsx
  stories/Baseline/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch, stylelint --fix

chore: improve the Focusing component
  packages/ui/src/Focusing/index.tsx
  stories/Focusing/stories.mdx
Due: tsc-files --noEmit, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch
